
<div class="page page-profile">

    <header class="profile-header">
        <div class="profile-img">
            <img alt="" src="magic/client/images/g1.jpg" class="img-circle">
        </div>

        <div class="profile-social">
            <a href="javascript:;" class="btn-icon btn-icon-round btn-facebook"><i class="ti-facebook"></i></a>
            <a href="javascript:;" class="btn-icon btn-icon-round btn-twitter"><i class="ti-twitter"></i></a>
            <a href="javascript:;" class="btn-icon btn-icon-round btn-instagram"><i class="ti-instagram"></i></a>
        </div>

        <div class="profile-info">
            <ul class="list-unstyled list-inline">
                <li><i class="ti-video-clapper"></i> Films <span class="text-muted">(39)</span></li>
                <li><i class="ti-camera"></i> Photos <span class="text-muted">(63)</span</li>
                <li><i class="ti-bookmark"></i> Collections <span class="text-muted">(55)</span</li>
                <li><i class="ti-check"></i> Tasks <span class="text-muted">(34)</span</li>
            </ul>
        </div>
    </header>


    <div class="row">
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger">
                    <i class="ti-video-clapper"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">39</p>
                    <p class="text-muted">Amazing Films</p>
                </div>
            </div>                    
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-warning">
                    <i class="ti-camera"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">63</p>
                    <p class="text-muted">Wonderful Photos</p>
                </div>
            </div>                    
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-success">
                    <i class="ti-bookmark"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">55</p>
                    <p class="text-muted">New Collections</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                    <i class="ti-check"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">34</p>
                    <p class="text-muted">Tasks Finised</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" ng-controller="EChartsCtrl">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Traffic</div>
                <div class="panel-body">
                    <div data-echarts data-options="line2.options" style="height: 400px;"></div>
                </div>
            </div>

        </div>
    </div>

</div>