<!-- Job title | Company/Employer | Repost action icon or button -->

<div class="page col-sm-12">
   
    <div class="form-group">
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="onSearchFilter()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{$applied_jobs.length}}/{{_applied_jobs.length}} entries
                    </span>              
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> JOBS APPLIED </strong></div>
        <table class="table has-ellipsis">
            <thead>
                <tr>
                    <th>Job title</th>
                    <th>Company/Employer</th>
                    <th>Date Applied</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="applied_job in $applied_jobs">
                    <td>{{applied_job.job_title}}</td>                
                    <td>{{applied_job.company_name}}</td>  
                    <td>{{applied_job.created_at}}</td> 
                    <td><span class="label label-{{status[applied_job.status_request]}}">{{applied_job.status_request}}</span></td>    
                </tr>

            </tbody>
        </table>
    </div>

        <footer class="table-footer panel panel-default">
	        <div class="row">
	            <div class="col-md-6 text-right pagination-container">
	                <uib-pagination class="pagination-sm"
	                            ng-model="currentPage"
	                            total-items="_applied_jobs.length"
	                            max-size="4"
	                            ng-change="select(currentPage)"
	                            items-per-page="numPerPage"
	                            rotate="false"
	                            previous-text="&lsaquo;" next-text="&rsaquo;"
	                            boundary-links="true"></uib-pagination>
	            </div>
	        </div>
	    </footer> 

    
</div>