<div class="page col-sm-12">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> CURRICULUM VITAE </strong></div>
        <div class="resume panel-body form-validation">

             <!-- First Column -->
            <div class="col-sm-6">
                
                <div class="form-group col-sm-12">
                    <label for="">Full Name</label>
                    <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.full_name">
                    <span class="help-block {{showErrorBlock('full_name', 'hidden')}}">
                        <strong ng-repeat="error in errors.full_name">{{error}}</strong>
                    </span>
                </div>

                <div class="form-group col-sm-12">
                    <label for="">Tagline</label>
                    <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.tagline">
                    <span class="help-block {{showErrorBlock('tagline', 'hidden')}}">
                        <strong ng-repeat="error in errors.tagline">{{error}}</strong>
                    </span>
                </div>

                <div class="form-group col-sm-12">
                    <label for="">About Me</label>

                    <textarea class="form-control"
                                  rows="6"
                                  data-ng-minlength=1
                                  required
                                  data-ng-model="data.about_me"></textarea>


                    <span class="help-block {{showErrorBlock('about_me', 'hidden')}}">
                        <strong ng-repeat="error in errors.about_me">{{error}}</strong>
                    </span>
                </div>

                <div class="form-group col-sm-12">
                    <label class="col-sm-4" for="">Profile Photo: &nbsp;</label>
                    <small class="col-sm-4" ng-show="profile_photo_src == null">No Image selected</small>
                    <div class="col-sm-4" ng-show="profile_photo_src != null"  class="col-sm-4">
                        <div class="thumbnail">
                            <img  ng-src="{{profile_photo_src}}">
                        </div> 
                    </div>
                    <input class="btn-warning col-sm-4" type="file" title="ADD IMAGE" 
                        file-model = "data.profile_photo"
                        file-image-src="profile_photo_src"
                        data-ui-file-upload>
                    <span class="help-block {{showErrorBlock('profile_photo', 'hidden')}}">
                        <strong ng-repeat="error in errors.profile_photo">{{error}}</strong>
                    </span>
                </div>
                
                <div class="form-group col-sm-6">
                    <label for="">Years of Experience</label>
                    <input  type="number"
                            class="form-control"
                            min="0" step="1"
                            required
                            placeholder=""
                            ng-model="data.years_of_experience">

                    <span class="help-block {{showErrorBlock('years_of_experience', 'hidden')}}">
                        <strong ng-repeat="error in errors.years_of_experience">{{error}}</strong>
                    </span>
                </div>

                <div class="form-group col-sm-6">
                    <label for="">Expected Salary</label>
                    <input  type="number"
                            class="form-control"
                            min="0.01" step="0.01"
                            required
                            placeholder=""
                            ng-model="data.expected_salary">

                    <span class="help-block {{showErrorBlock('expected_salary', 'hidden')}}">
                        <strong ng-repeat="error in errors.expected_salary">{{error}}</strong>
                    </span>
                </div>


                <div class="form-group col-sm-12">
                    <label for="">Personal Core Skills</label>
                    <table class="table table-bordered row no-border-top table-margin-auto">
                            <thead>
                                <tr>
                                    <th class="col-sm-1"> </th>
                                    <th>
                                        <h5 style="width: 90px;">Skill<br/><small>&nbsp;</small></h5>
                                    </th>
                                    <th>
                                        <h5 style="width: 90px;">Description<br/><small>&nbsp;</small></h5>
                                    </th>
                                    <th>
                                        <h5 style="width: 40px;">Level<br/><small>10 Being the highest</small></h5>
                                    </th>
                                    <th class="col-sm-1"></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="personal_core_skill in data.personal_core_skills">
                                    <td class="side-background">{{$index + 1}}</td>
                                    <td>
                                        <input type="text" class="form-control" 
                                            placeholder="" required 
                                            data-ng-minlength=1 ng-model="personal_core_skill.name">
                                    </td>
                                    <td>
                                        <textarea class="form-control"
                                          rows="4"
                                          data-ng-minlength=1
                                          required
                                          data-ng-model="personal_core_skill.description"></textarea>
                                    </td>
                                    <td>

                                        <span class="ui-select" style="height: 34px; width: 100%;">
                                            <select style="min-width: 25px;" ng-model="personal_core_skill.level">
                                                <option ng-repeat="level in [1,2,3,4,5,6,7,8,9,10]" 
                                                        value="{{level}}" ng-selected="level == personal_core_skill.level" >{{level}}</option>
                                            </select>
                                        </span>

                                    </td>
                                    <td class="side-background">
                                        &nbsp;&nbsp; 
                                        <div  class="position-relative">
                                            <div class="form-group btn-icon-round-minus">
                                                <a href="javascript:void(0);" 
                                                ng-click="onRemoveRow('personal_core_skills', $index)"
                                                    class="btn-icon-lined btn-icon-round btn-icon-sm gray">
                                                    <span class="ti-minus"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-warning pull-right" ng-click="addNewRow('personal_core_skills')">+ Personal Skill</button>

                </div>


                <div class="form-group col-sm-12">
                    <label for="">Technical Core Skills</label>
                    <table class="table table-bordered row no-border-top table-margin-auto">
                            <thead>
                                <tr>
                                    <th class="col-sm-1"> </th>
                                    <th>
                                        <h5 style="width: 90px;">Skill<br/><small>&nbsp;</small></h5>
                                    </th>
                                    <th>
                                        <h5 style="width: 90px;">Description<br/><small>&nbsp;</small></h5>
                                    </th>
                                    <th>
                                        <h5 style="width: 40px;">Level<br/><small>10 Being the highest</small></h5>
                                    </th>
                                    <th class="col-sm-1"></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="technical_core_skill in data.technical_core_skills">
                                    <td class="side-background">{{$index + 1}}</td>
                                    <td>
                                        <input type="text" class="form-control" 
                                            placeholder="" required 
                                            data-ng-minlength=1 ng-model="technical_core_skill.name">
                                    </td>
                                    <td>
                                        <textarea class="form-control"
                                          rows="4"
                                          data-ng-minlength=1
                                          required
                                          data-ng-model="technical_core_skill.description"></textarea>
                                    </td>
                                    <td>

                                        <span class="ui-select" style="height: 34px; width: 100%;">
                                            <select style="min-width: 25px;" ng-model="technical_core_skill.level">
                                                <option ng-repeat="level in [1,2,3,4,5,6,7,8,9,10]" 
                                                        value="{{level}}" ng-selected="level == technical_core_skill.level" >{{level}}</option>
                                            </select>
                                        </span>

                                    </td>
                                    <td class="side-background">
                                        &nbsp;&nbsp; 
                                        <div class="position-relative">
                                            <div class="form-group btn-icon-round-minus">
                                                <a href="javascript:void(0);" 
                                                    ng-click="onRemoveRow('technical_core_skills', $index)"
                                                    class="btn-icon-lined btn-icon-round btn-icon-sm gray">
                                                    <span class="ti-minus"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                    </table>
                    <button class="btn btn-warning pull-right" ng-click="addNewRow('technical_core_skills')">
                        + Technical Skill
                    </button>

                </div>

            </div>

            <!-- Second Column -->
            <div class="col-sm-6">
                
                <div class="form-group col-sm-12">
                    <label for="">Hobbies</label>
                    <table class="table table-bordered row no-border-top table-margin-auto">
                        <thead>
                            <tr>
                                <th class="col-sm-1"> </th>
                                <th>
                                    <h5 >Hobby<br/><small>&nbsp;</small></h5>
                                </th>
                                <th class="col-sm-1"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="hobby in data.hobbies">
                                <td class="side-background">{{$index + 1}}</td>
                                <td>
                                    <input type="text" class="form-control" 
                                        placeholder="" required 
                                        data-ng-minlength=1 ng-model="hobby.name">
                                </td>
                                <td class="side-background">
                                    &nbsp;&nbsp; 
                                    <div  class="position-relative">
                                        <div class="form-group btn-icon-round-minus">
                                            <a href="javascript:void(0);" 
                                                ng-click="onRemoveRow('hobbies', $index)"
                                                class="btn-icon-lined btn-icon-round btn-icon-sm gray">
                                                <span class="ti-minus"></span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-warning pull-right" ng-click="addNewRow('hobbies')">+ Hobbies</button>

                </div>


                <div class="form-group col-sm-12">
                    <label for="">Education</label>
                    <table class="table table-bordered row no-border-top table-margin-auto">
                        <thead>
                            <tr>
                                <th class="col-sm-1"> </th>
                                <th>
                                    <h5 >SCHOOL NAME<br/><small>&nbsp;</small></h5>
                                </th>
                                <th>
                                    <h5 >QUALIFICATIONS<br/><small>&nbsp;</small></h5>
                                </th>
                                <th>
                                    <h5 >YEAR ATTENDED FROM<br/><small>&nbsp;</small></h5>
                                </th>
                                <th>
                                    <h5 >YEAR ATTENDED TO<br/><small>&nbsp;</small></h5>
                                </th>
                                <th class="col-sm-1"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="education in data.educations">
                                <td class="side-background">{{$index + 1}}</td>
                                <td>
                                    <input type="text" class="form-control" 
                                        placeholder="" required 
                                        data-ng-minlength=1 ng-model="education.school_name">
                                </td>
                                <td>
                                    <input type="text" class="form-control" 
                                        placeholder="" required 
                                        data-ng-minlength=1 ng-model="education.qualifications">
                                </td>
                                <td>
                                    <input type="text" class="form-control" 
                                        placeholder="" required 
                                        data-ng-minlength=1 ng-model="education.year_attended_from">
                                </td>
                                <td>
                                    <input type="text" class="form-control" 
                                        placeholder="" required 
                                        data-ng-minlength=1 ng-model="education.year_attended_to">
                                </td>
                                <td class="side-background">
                                    &nbsp;&nbsp; 
                                    <div class="position-relative">
                                        <div class="form-group btn-icon-round-minus">
                                            <a href="javascript:void(0);" 
                                                ng-click="onRemoveRow('educations', $index)"
                                                class="btn-icon-lined btn-icon-round btn-icon-sm gray">
                                                <span class="ti-minus"></span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-warning pull-right" ng-click="addNewRow('educations')">+ Education</button>

                </div>

                <div class="form-group col-sm-12">
                    <label for="">Experience</label>
                    <table class="table table-bordered row no-border-top table-margin-auto">
                        <thead>
                            <tr>
                                <th class="col-sm-1"> </th>
                                <th>
                                    <h5 >COMPANY<br/><small>&nbsp;</small></h5>
                                </th>
                                <th>
                                    <h5 >JOB DESCRIPTION<br/><small>&nbsp;</small></h5>
                                </th>
                                <th>
                                    <h5 >START DATE<br/><small>&nbsp;</small></h5>
                                </th>
                                <th>
                                    <h5 >END DATE<br/><small>&nbsp;</small></h5>
                                </th>
                                <th class="col-sm-1"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="experience in data.experiences">
                                <td class="side-background">{{$index + 1}}</td>
                                <td>
                                    <input type="text" class="form-control" 
                                        placeholder="" required 
                                        data-ng-minlength=1 ng-model="experience.company">
                                </td>
                                <td>
                                    <input type="text" class="form-control" 
                                        placeholder="" required 
                                        data-ng-minlength=1 ng-model="experience.job_description">
                                </td>
                                <td>
                                    <input type="text" class="form-control" 
                                        placeholder="" required 
                                        data-ng-minlength=1 ng-model="experience.start_date">
                                </td>
                                <td>
                                    <input type="text" class="form-control" 
                                        placeholder="" required 
                                        data-ng-minlength=1 ng-model="experience.end_date">
                                </td>
                                <td class="side-background">
                                    &nbsp;&nbsp; 
                                    <div  class="position-relative">
                                        <div class="form-group btn-icon-round-minus">
                                            <a href="javascript:void(0);" 
                                                ng-click="onRemoveRow('experiences', $index)"
                                                class="btn-icon-lined btn-icon-round btn-icon-sm gray">
                                                <span class="ti-minus"></span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-warning pull-right" ng-click="addNewRow('experiences')">+ Experience</button>

                </div>


                <div class="form-group col-sm-12">
                    <label class="col-sm-4" for="">CV/Resume Deucment: &nbsp;</label>
                    <small class="col-sm-4" ng-show="data.resume_document == null">No Image selected</small>
                    <input class="btn-warning col-sm-4" type="file" title="ADD FILE" 
                        file-model = "data.resume_document"
                        data-ui-file-upload>
                    <span class="help-block {{showErrorBlock('resume_document', 'hidden')}}">
                        <strong ng-repeat="error in errors.resume_document">{{error}}</strong>
                    </span>
                </div>


                <div class="form-group col-sm-12">
                    <label class="col-sm-4" for="">Cover Photo: &nbsp;</label>
                    <small class="col-sm-4" ng-show="cover_photo_src == null">No Image selected</small>
                    <div class="col-sm-4" ng-show="cover_photo_src != null"  class="col-sm-4">
                        <div class="thumbnail">
                            <img  ng-src="{{cover_photo_src}}">
                        </div> 
                    </div>
                    <input class="btn-warning col-sm-4" type="file" title="ADD IMAGE" 
                        file-model = "data.cover_photo"
                        file-image-src="cover_photo_src"
                        data-ui-file-upload>
                    <span class="help-block {{showErrorBlock('cover_photo', 'hidden')}}">
                        <strong ng-repeat="error in errors.cover_photo">{{error}}</strong>
                    </span>
                </div>


                <div class="form-group col-sm-12">
                    <label for="">Cover Photo Selection</label>
                </div>

                <div class="form-group col-sm-12">
                    <div class="col-sm-4">
                        <div class="thumbnail {{data.cover_photo_selection == '1' ? 'cover-photo-selected' : ''}}">
                            <img class="" 
                                ng-click="coverPhotoSelection(1)" alt="" ng-src="{{$imagesDir}}/option-1.jpg">
                        </div>    
                        <small class="label-thumbnail" style="margin-left: -14px;">Stars</small>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail {{data.cover_photo_selection == '2' ? 'cover-photo-selected' : ''}}">
                            <img class=""
                            ng-click="coverPhotoSelection(2)" alt="" ng-src="{{$imagesDir}}/option-2.jpg">
                        </div> 
                        <small class="label-thumbnail" style="margin-left: -15.5px;">Moon</small>   
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail {{data.cover_photo_selection == '3' ? 'cover-photo-selected' : ''}}">
                            <img class=""
                            ng-click="coverPhotoSelection(3)" alt="" ng-src="{{$imagesDir}}/option-3.jpg">
                        </div>    
                        <small class="label-thumbnail" style="margin-left: -11px;">Star</small>
                    </div>
                </div>
                
                
            </div>




            <div class="form-group col-sm-12">
                <button ng-click="onSubmitForm()" 
                        type="button" 
                        class="btn btn-gap-v btn-warning col-sm-3 margin-left-10 pull-right">
                        {{(updateResume) ? 'UPDATE CURRICULUM VITAE' : 'SAVE CURRICULUM VITAE'}}
                </button>

                <a ng-show="updateResume" target="_blank" href="{{baseurl}}{{data.full_name}}/resume/{{data.id}}"
                    class="btn btn-gap-v btn-warning col-sm-3 margin-left-10 pull-right">VIEW RESUME</a>

            </div>


        </div>
    </section> 

</div>
