body {
    font-family: 'Open Sans', sans-serif;
}

strong {
    color: #3c4045;
}

p {
    margin-bottom: 20px;
}

/* COMPANY PROFILE */

.company-header {
    padding: 30px 0 30px 0;
    background-color: #2bb673;
    position: relative;
}

.company-header .company-logo {
    margin-bottom: 10px;
}

.company-header .powered-by img {
    width: 200px;
}

.company-header h3 {
    font-size: 24px;
    text-align: center;
    color: #ffffff !important;
    font-weight: 300 !important;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-transform: Capitalize !important;
}

.company-title h2 {
    font-size: 25px !important;
    text-align: left;
    color: #393836;
    font-style: inhert;
    font-weight: normal !important;
    margin-top: 20px;
    margin-bottom: 0px;
    text-transform: capitalize !important;
    letter-spacing: 0px;
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 7px;
}

#company-description {
    line-height: 1.66em;
    font-size: 16px;
    padding-top: 40px;
}

#company-description .description .content {
    margin-top: 25px;
    padding-bottom: 20px;
}

#company-description .description .social-media {
    border-top: 1px solid #D7D7D7;
    padding-top: 10px;
}

#company-description .description h2 {
    font-size: 25px !important;
    text-align: left;
    color: #393836;
    font-style: inhert;
    font-weight: normal !important;
    margin-top: 20px;
    margin-bottom: 0px;
    text-transform: capitalize !important;
    letter-spacing: 0px;
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 7px;
}

.social-media li {

    display: inline;
    margin-left: 5px;
}

.social-media i.fa {
    color: #fff !important;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 35px;
    border-radius: 100%;
    line-height: 55px;
}

.btn.view-video {
    background: #67686a;
    border-color: #67686a;
    color: #ffffff;
}

.btn.view-perks {
    background: #2bb673;
    border-color: #2bb673;
    color: #ffffff;
}

.perks {

}

.perks .title {
    font-size: 25px !important;
    text-align: left;
    color: #393836;
    font-style: inhert;
    font-weight: normal !important;
    margin-top: 20px;
    margin-bottom: 0px;
    text-transform: capitalize !important;
    letter-spacing: 0px;
    padding-bottom: 7px;
}

/*

#job-lists .job-list{
    border-top:1px solid #959698;
    padding:10px 0;
}

.job-list .job-title{
    margin-top:10px;
}

.job-list .job-title .title{
    display: inline-block;
}

.job-list .job-title .title h2{
    font-size:20px;
    margin-left:15px;
    margin-top:-19px;
}

.job-list .thumb{
    width:47px;
    display: inline-block;
}

.job-list .thumb img{
    width:100%;
}



#job-lists .job-list .job-skills .skills-column{
    width: 49%;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #fff;
    font-size: 12px;
}

.job-skills ul.left{
    float:left;
}

.job-skills ul.right{
    float:right;
}

.job-skills ul li {
    margin-left: 0;
    padding: 0 5px;
    margin-bottom: 3px;
}


.job-skills ul.left li:nth-child(1){
    background: #67686A;
}

.job-skills ul.left li:nth-child(2){
    background: #7E7F81;
}

.job-skills ul.left li:nth-child(3){
    background: #959698;
}

.job-skills ul.right li:nth-child(1){
    background: #ACACAE;
}

.job-skills ul.right li:nth-child(2){
    background: #C3C3C3;
}


.job-skills ul.right li:nth-child(3){
    background: #D9D9DB;
}

li.job-list {
    padding: 10px 0;
    overflow: auto;
    border-top: 1px solid #959698;
}

a:last-child .job-list {

    border-bottom: 1px solid #959698;
}









#job-lists .job-list .experience{
    padding: 0 10px;
    !* border-left: 1px solid #959698; *!
    min-height: 80px;
    text-align: center;
}

.job-list .experience img{
    width:116px;
}

*/

#powered-by-footer {
    padding: 25px 0 25px 0;
    background-color: rgba(0, 0, 0, 0.12);
    position: relative;
}

footer {
    padding: 30px 0 30px 0;
    background-color: #2bb673;
    position: relative;
}

#job-lists {
    margin: 40px 0;
}

li.job-list {
    padding: 10px 0;
    overflow: auto;
    border-top: 1px solid #959698;
}

.job-list i {
    font-size: 42px;
}

.job-list .logo-thumb {
    display: inline-block;
    margin-left: 0px;
    float: left;
    margin-top: 7px;
}

.job-list .logo-thumb img {
    width: 45px;
}

.job-title {
    float: left;
    width: 21%;
    padding: 0 10px 10px 10px;
}

.job-title h2 {
    font-size: 20px !important;
    color: #000 !important;
    line-height: 30px;
    margin: 0;
}

.job-skills {
    float: left;
    width: 22%;
    padding: 0 10px;
    border-left: 1px solid #959698;
    min-height: 80px;
}

.job-skills ul.left, .job-skills ul.right {
    float: left;
    width: 49%;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #fff;
    font-size: 12px;
}

.job-skills ul.right {
    margin-left: 3px;
}

.job-skills ul.left, .job-skills ul.right {
    float: left;
    width: 49%;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #fff;
    font-size: 12px;
}

.job-skills ul.left li:nth-child(1) {
    background: #67686A;
}

.job-skills ul.left li:nth-child(2) {
    background: #7E7F81;
}

.job-skills ul.left li:nth-child(3) {
    background: #959698;
}

.job-skills ul.left li:nth-child(4) {
    background: #ADADAD;
}

.job-skills ul.left li:nth-child(5) {
    background: #ADADAD;
}

.job-skills ul.left li:nth-child(6) {
    background: #ADADAD;
}

.job-skills ul.left li:nth-child(7) {
    background: #ADADAD;
}

.job-skills ul.left li:nth-child(8) {
    background: #ADADAD;
}

.job-skills ul.left li:nth-child(9) {
    background: #ADADAD;
}

.job-skills ul.left li:nth-child(10) {
    background: #ADADAD;
}

.job-skills ul.left li:nth-child(11) {
    background: #ADADAD;
}

.job-skills ul.left li:nth-child(12) {
    background: #ADADAD;
}

.job-skills ul.left li:nth-child(13) {
    background: #ADADAD;
}

.job-skills ul.left li:nth-child(14) {
    background: #ADADAD;
}

.job-skills ul.left li:nth-child(15) {
    background: #ADADAD;
}


.job-skills ul.right li:nth-child(1) {
    background: #ACACAE;
}

.job-skills ul.right li:nth-child(2) {
    background: #C3C3C3;
}

.job-skills ul.right li:nth-child(3) {
    background: #D9D9DB;
}
.job-skills ul.right li:nth-child(4) {
    background: #DEDEE2;
}
.job-skills ul.right li:nth-child(5) {
    background: #DEDEE2;
}

.job-skills ul.right li:nth-child(6) {
    background: #DEDEE2;
}

.job-skills ul.right li:nth-child(7) {
    background: #DEDEE2;
}

.job-skills ul.right li:nth-child(8) {
    background: #DEDEE2;
}

.job-skills ul.right li:nth-child(9) {
    background: #DEDEE2;
}

.job-skills ul.right li:nth-child(10) {
    background: #DEDEE2;
}

.job-skills ul.right li:nth-child(11) {
    background: #DEDEE2;
}

.job-skills ul.right li:nth-child(12) {
    background: #DEDEE2;
}

.job-skills ul.right li:nth-child(13) {
    background: #DEDEE2;
}

.job-skills ul.right li:nth-child(14) {
    background: #DEDEE2;
}

.job-skills ul.right li:nth-child(15) {
    background: #DEDEE2;
}


li.job-list {
    padding: 10px 0;
    overflow: auto;
    border-top: 1px solid #959698;
}

a:last-child .job-list {

    border-bottom: 1px solid #959698;
}

.job-skills ul li {
    margin-left: 3px;
    padding: 0 5px;
    margin-bottom: 3px;
}

.experience {
    float: left;
    width: 10%;
    padding: 0 10px;
    /* border-left: 1px solid #959698; */
    min-height: 80px;
    text-align: center;
}

.experience img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

span.exp-title {
    font-size: 17px;
    color: #000;
}

div.location {
    float: left;
    width: 20%;
    padding: 0 10px;
    min-height: 80px;
    text-align: center;
    /* border-left: 1px solid #959698; */
}

p.location {
    width: 100%;
    margin: 0;
    color: #000;
    font-size: 12px;
    padding: 0;
}

.max-salary {
    float: left;
    width: 10%;
    padding: 0 10px;
    min-height: 80px;
    text-align: center;
    /* border-left: 1px solid #959698; */
}

p.maximum {
    width: 100%;
    margin: 0;
    font-size: 17px;
    color: #000;
    padding: 0;
}

.meta-info {
    float: left;
    width: 10%;
    padding: 0 10px;
    min-height: 80px;
    text-align: center;
    /* border-left: 1px solid #959698; */
}

p.job-type, p.date-posted {
    background-color: #6f6f6f;
    padding: 3px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 9px;
    width: 100%;
    margin: 0;
}

@media (max-width: 600px) {
    body {
        width: auto !important;
        overflow-x: hidden !important;
    }

    .chosen-container.chosen-container-multi {
        width: 98% !important;
    }

    .searchandfilter select {
        min-width: 98% !important;
    }

    .main-footer img.company-logo {
        width: 35% !important;
    }

    .ribbon, .logo-thumb {
        display: none;
    }

    .company-header {
        padding: 30px;
        text-align: center;

    }

    .company-description {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .col-md-7 {
        width: 100%;
        text-align: left;
    }

    .company-title h2 {
        font-size: 25px !important;
        text-align: center;
        color: #393836;
        font-style: inhert;
        font-weight: normal !important;
        margin-top: 20px;
        margin-bottom: 0px;
        text-transform: capitalize !important;
        letter-spacing: 0px;
        border-bottom: 1px solid #D7D7D7;
        padding-bottom: 7px;
    }

    .header-logo img {
        max-width: 180px;
    }

    .col-md-3 {
        width: 100%;
        text-align: center;
    }

    ul.social-media {
        text-align: center;
    }

    ul.job-lists {
        margin: 0;
    }

    ul.social-media {
        margin-bottom: 1em;
        margin-left: 0;
    }

    .company-perks {
        padding-left: 0px;
    }

    .company-perks h2 {
        font-size: 25px !important;
        text-align: center;
        color: #393836;
        font-style: inhert;
        font-weight: normal !important;
        margin-top: 20px;
        margin-bottom: 0px;
        text-transform: capitalize !important;
        letter-spacing: 0px;
        padding-bottom: 11px;
    }

    .job-list .logo-thumb {
        display: none;
    }

    .job-title {
        width: 100%;
        text-align: center;
        float: left;
        padding: 0px;
    }

    .experience {
        width: 100%;
        text-align: center;
        border: none;
    }

    img.meter {
        width: 50%;
        margin: 0 24%;
    }

    .job-skills {
        width: 100%;
        border: none;
    }

    p.maximum {
        width: 100%;
        margin: 0;
        font-size: 13px;
        color: #000;
        padding: 0;
    }

    .max-salary {
        width: 50%;
        border: none;
        padding-top: 25px;
    }

    .benefits {
        width: 33.33%;
        border: none;
    }

    span.exp-title {
        font-size: 11px;
    }

    .meta-info {
        width: 100%;
        border: none;
    }

    .location {
        padding: 0 10px;
        min-height: 80px;
        text-align: center;
        border: none;
    }

    div.location {
        float: left;
        width: 50%;
        padding: 0px;
        min-height: 80px;
        text-align: center;
        border: none;
        padding-top: 25px;
    }

    .page-introduce-title {
        font-size: 20px;
        color: #4d4d4d;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 2px;
        text-align: center;
    }

    /*Kenneth Start */
    .vc_col-sm-2.wpb_column.column_container {
        float: left !important;
        width: 100% !important;
        margin-top: 20px !important;
    }

    .vc_col-sm-8.wpb_column.column_container {
        width: 100% !important;
        float: left !important;
        margin-top: 20px !important;
    }

    #theme-page h1 {
        font-size: 23px !important;
        text-align: center !important;
    }

    .social-share {
        text-align: center !important;
        width: 100% !important;
    }

    .col-md-3.sidebar {
        width: 100% !important;
    }

    .job-content p {
        padding: 0px 0px 0px 0px !important;
    }

    .col-md-7.job-content {
        width: 100% !important;
        text-align: left !important;
    }

    .job-portal span.exp-title {
        font-size: 11px;
    }

    .job-skills ul.left, .job-skills ul.right {
        float: left;
        width: 100% !important;
        padding: 0;
        margin: 0;
        list-style: none;
        color: #fff;
        font-size: 11px;
    }

    .job-skills ul.right {
        margin-left: 0px !important;
    }

    .ja-form {
        width: 100% !important;
        margin: 0 auto !important;
        overflow: none !important;
    }

    .job-title h2 {
        font-size: 16px !important;
        color: #000 !important;
        line-height: 30px;
        margin: 0;
    }

    .col-md-6 {
        width: 100% !important;
    }

    div#wp-wysiwyg-acf-field-company_description-55940ad127e58-wrap a, div#wp-wysiwyg-acf-field-company_description-55940ad127e58-wrap img {
        width: 100% !important;
    }

    .acf-color_picker input[type="text"] {
        display: inline;
        width: 100% !important;
    }

    .hl > li.right {
        float: left !important;
    }

    .acf_postbox .field input[type="text"], .acf_postbox .field input[type="number"], .acf_postbox .field input[type="password"], .acf_postbox .field input[type="email"], .acf_postbox .field textarea {
        max-width: 100% !important;
    }

    li.sf-field-sort_order, li.sf-field-post-meta-job_type, li.sf-field-post-meta-job_location, li.sf-field-tag {
        width: 100% !important;
        float: none !important;
    }

    .searchandfilter ul li li {
        padding: 5px 0;
        width: 50%;
        margin-bottom: 20px;
    }

    .mm-login .mm-label {
        margin-left: -30px;
        display: block;
    }

    .mm-login .mm-field {
        width: 100%;
    }

    .mm-login .mm-label-column {
        width: 200px;
        display: block;
    }

    .mm-login .mm-field-column {
        display: table-row;
        width: auto;
    }

    .mm-login .mm-remember-me {
        margin-left: 0px;
        display: flex;
    }

    #mm-login-button {
        width: 190px !important;
        margin-bottom: 20px;
    }

    form#mm-login-form td.mm-label-column input {
        width: 100%;
        display: block;
    }

    form#mm-login-form td.mm-field-column input {
        width: 250px;
        display: block;
        margin-right: 10px;
        margin-top: 5px;
    }

    #mm-login-form h3 {
        font-size: 13px !important;
    }

    /*Kenneth End */

}

.perks .content {
    margin-top: 25px;
}

.perks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.perks ul li {
    padding: 8px;
    font-size: 12px;
    color: #fff;
    margin: 0;
    font-weight: 500;
}

.perks li i {
    padding-right: 17px;
    font-size: 21px;
    color: #fff;
    width: 25px;
}

.vbox-overlay .perks li i {
    font-size: 45px;
    padding: 30px 0 20px;
    line-height: 0;
    width: 55px;
}

.perks-icon-wrapper {
    float: left;
    text-align: center;
    width: 20%;
}

.perks .links {
    margin-top: 5px;
}

.perks .links .btn {
    display: inline-block;
    margin: 2px;
    padding: 8px 13px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}

.perks ul {
    margin: 0;
}

.perks p {
    color: #fff;
    text-transform: none;
    font-weight: 300;
    font-size: 14px;
    padding-left: 55px;
}

.vbox-overlay .perks p {
    color: #fff;
    text-transform: none;
    font-weight: 300;
    font-size: 14px;
    padding-left: 0;
    margin-left: 114px;
}

.perks span {
    font-size: 20px;
    line-height: 33px;
}

/*Perks List Background Color Shuffle */

.perks ul li:first-child {
    background-color: #00AABE;
}

.perks ul li:nth-child(2) {
    background-color: #81B94A;
}

.perks ul li:nth-child(3) {
    background-color: #353B2B;
}

.perks ul li:nth-child(4) {
    background-color: #677157;
}

.perks ul li:nth-child(5) {
    background-color: #9A5073;
}

.perks ul li:nth-child(6) {
    background-color: #523B5A;
}

.perks ul li:nth-child(7) {
    background-color: #00AABE;
}

.perks ul li:nth-child(8) {
    background-color: #81B94A;
}

.perks ul li:nth-child(9) {
    background-color: #353B2B;
}

.perks ul li:nth-child(10) {
    background-color: #677157;
}

.perks ul li:nth-child(11) {
    background-color: #81B94A;
}

.perks ul li:nth-child(12) {
    background-color: #353B2B;
}

.perks ul li:nth-child(13) {
    background-color: #677157;
}

.perks ul li:nth-child(14) {
    background-color: #9A5073;
}

.perks ul li:nth-child(15) {
    background-color: #523B5A;
}

.perks ul li:nth-child(16) {
    background-color: #00AABE;
}

.perks ul li:nth-child(17) {
    background-color: #81B94A;
}

.perks ul li:nth-child(18) {
    background-color: #353B2B;
}

.perks ul li:nth-child(19) {
    background-color: #677157;
}

.perks ul li:nth-child(20) {
    background-color: #81B94A;
}

.perks ul li:nth-child(21) {
    background-color: #353B2B;
}

.perks ul li:nth-child(22) {
    background-color: #677157;
}

.perks ul li:nth-child(23) {
    background-color: #9A5073;
}

.perks ul li:nth-child(24) {
    background-color: #523B5A;
}

.perks ul li:nth-child(25) {
    background-color: #00AABE;
}

.perks ul li:nth-child(26) {
    background-color: #81B94A;
}

.perks ul li:nth-child(27) {
    background-color: #353B2B;
}

.perks ul li:nth-child(28) {
    background-color: #677157;
}

/* JOB DESCRIPTION SPECIFIC STYLES */

.btn-bordered {
    border: 3px solid #ffffff;
    background: none;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 9px 25px;
    color: #ffffff;
}

.btn-bordered i {
    padding-right: 10px;
}

/* social */

.social {

}

.social ul {
    display: inline-block;
    margin: 20px 0;
    list-style: none;
    list-style-type: none;
     margin-left: -40px;
}

.social ul li {
    float: left;
    margin-right: 5px;
}

.social ul li a:hover i {
    color: #ffffff;
}

.social ul li a {
    cursor: pointer;
}

.social i {
    font-size: 18px;
    font-weight: bold;
}

.social ul li.facebook a {
    border: 3px solid #3b5999;
    padding: 9px 16px;
}

.social ul li.facebook a:hover {
    background-color: #3b5999;
}

.social ul li.facebook i {
    color: #3b5999;
}

.social ul li.twitter a {
    border: 3px solid #59d1df;
    padding: 9px 12px;
}

.social ul li.twitter a:hover {
    background-color: #59d1df;
}

.social ul li.twitter i {
    color: #59d1df;
}

.social ul li.youtube a {
    border: 3px solid #bf3727;
    padding: 9px 9px;
}

.social ul li.youtube a:hover {
    background-color: #bf3727;
}

.social ul li.youtube i {
    color: #bf3727;
}

.social ul li.link a {
    border: 3px solid #bf3727;
    padding: 9px 9px;
}

.social ul li.link a:hover {
    background-color: #bf3727;
}

.social ul li.link i {
    color: #bf3727;
}

.social ul li.google-plus a {
    border: 3px solid #bf3727;
    padding: 9px 9px;
}

.social ul li.google-plus a:hover {
    background-color: #bf3727;
}

.social ul li.google-plus i {
    color: #bf3727;
}

.social ul li.pinterest-p a {
    border: 3px solid #bf3727;
    padding: 9px 14px;
}

.social ul li.pinterest-p a:hover {
    background-color: #bf3727;
}

.social ul li.pinterest-p i {
    color: #bf3727;
}

.social ul li.linkedin a {
    border: 3px solid #2ba3e1;
    padding: 9px 14px;
}

.social ul li.linkedin a:hover {
    background-color: #2ba3e1;
}

.social ul li.linkedin i {
    color: #2ba3e1;
}

/* end - social */

#job-heading {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#job-heading .title h1 {
    font-size: 32px;
    color: #404040;
    font-weight: 100;
    text-transform: none;
}

.separator {
    padding-top: 10px;
    border-bottom: 1px solid #e1e1e1;
}

#job-content {

}

#job-content .general-job-details {

}

#job-content .general-job-details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#job-content .general-job-details ul li {
    color: #ffffff;
    padding: 20px 0;
}

#job-content .general-job-details ul li.job-type {
    background: #67686a;

}

#job-content .general-job-details ul li.job-date {
    background: #ffffff;
    color: #000000;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}

#job-content .general-job-details ul li.job-date p {

    padding: 0;
    margin: 0;
}

#job-content .general-job-details ul li.job-location {
    background: #2bb673;
}

#job-content .general-job-details ul li.job-location i {
    padding: 0 28px 0 26px;
}

#job-content .general-job-details ul li.job-salary {
    background: #67686a;
}

#job-content .general-job-details ul li.job-salary i {
    padding: 0 28px 0 26px;
}

#job-content .general-job-details ul li.job-perks {
    background: #2bb673;
}

#job-content .general-job-details ul li i {
    font-size: 40px;
    padding: 0 20px;
}

#job-content .general-job-details ul li h4 {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    font-weight: 400;
}

#job-content .perks {

}

#job-content .perks ul li {
    padding: 14px 8px !important;
    font-size: 14px;
}

#job-content .perks ul li i {
    font-size: 24px;
}

#job-content .links {
    margin-top: 10px;
}

#job-content .links .btn {
    padding: 12px 0;
    font-size: 16px;
}

#job-content .job-content-skills {

}

#job-content .job-content-skills img {
    margin-top: 10px;
    width: 160px;
}

#job-content .job-content-job-skills {

}

#job-content .job-content-job-skills ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0 0 0;
}

#job-content .job-content-job-skills ul li {
    color: #67686a;
    margin-top: -5px;
}

#job-content .job-content-job-skills ul li span.title {
    font-weight: bold;
    font-size: 16px;
}

#job-content .job-content-job-skills ul li .progress {
    box-shadow: none;
    border-radius: 0;
    height: 11px;
    margin-top: 3px;
}

#job-content .job-content-job-skills ul li .progress .progress-bar {
    background-color: rgb(125, 126, 130);
}

#job-content aside > .title {

    padding: 20px 0 10px 0;
    font-style: italic;
    text-transform: capitalize !important;
    border-bottom: 1px solid #e1e1e1;
    text-align: left;
}

#job-content aside > .title h3 {
    font-size: 24px;
    font-weight: bold;
    color: #404040;
    text-transform: none;

}

#job-content .content {

}

#job-content .content strong {
    color: #3c4045;
    font-weight: 700;
}

#job-content .content p {
    font-size: 18px;
    color: #777777;
    line-height: 1.66em;
    margin-bottom: 0;
}

#job-content .content ul {

}

#job-content .content ul li {
    font-size: 16px;
    color: #777777;
    line-height: 1.66em;
}

#job-content .form {

}

#job-content .form .form-control {
    border-radius: 0;
}

#job-content .form {
    margin: 20px 0;
}

#job-content .form .upload-box {
    display: block;
}

#job-content .form .upload-box .title {
    display: inline-block;
}

#job-content .form .upload-box .upload-btn {
    display: inline-block;
    text-transform: uppercase;
    background: black;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    margin-top: -5px;
    margin-left: 5px;
    padding: 8px 16px;
}

/* CV */

header.cv-header {

}

header.cv-header .logo img {
    width: 400px;
}

header.cv-header nav {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 15px 0;
    text-align: center;
}

header.cv-header .header-nav {
    display: inline-block;
}

header.cv-header .header-nav ul li {
    margin: 0 15px 0 15px;
}

header.cv-header .header-nav ul li a {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 25px;
}

header.cv-header .header-nav ul li a:hover,
header.cv-header .header-nav ul li a:active,
header.cv-header .header-nav ul li a:focus {
    background: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin: -1px -1px -1px -1px;
}

header.cv-header .banner {
    padding-bottom: 20px;
}

.banner .box {
    margin: 50px auto 10px;
    width: 450px;
    text-align: center;
    border: 2px solid #fff;
    padding: 32px 20px;
}

.banner .box .greeting {

}

.banner .box h1 {
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    margin: 0;
}

.banner .box h2 {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.banner .scroll-notice {
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
}

section.title-intro {
    background: #3c4045;
    color: #ffffff;
    padding: 10px 0 30px 0;
}

section.title-intro .heading {
    display: inline-block;
    border-bottom: 4px solid #cddc2b;
    padding: 0 25px;
}

section.title-intro .heading h2 {
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;

}

section.title-intro .subheading {

}

section.title-intro .subheading h3 {
    font-size: 29px;
    margin-top: 5px;
}

section.title-intro .content {

}

.btn-contact {
    background-color: #6dab3c !important;
    color: #ffffff;
    font-size: 18px;
    border-radius: 25px;
}

.btn-contact:hover,
.btn-contact:active,
.btn-contact:focus {
    background-color: #6dab3c !important;
    color: #ffffff;
}

.btn-contact i {
    font-size: 32px;
}

#cv-details {
    background-color: #F1F1F1;
    padding: 30px 0 40px 0;
    color: #777777;
}

#cv-details .details-heading {
    text-align: center;
}

#cv-details .details-heading .heading {
    font-size: 32px;
    color: #393836;
    font-weight: 700;
    margin-bottom: 5px;
}

#cv-details .details-heading .subheading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 30px;
    border-bottom: 4px solid #CDDC2B;
    margin: 0 auto;
    width: 70%;
}

#cv-details .details-content {
    margin: 35px;
    text-align: center;
    font-size: 16px;
    line-height: 1.66em;
}

#cv-details .about-specific {
    border-top: 2px solid #EC128F;
    text-align: center;
    color: #777777;
    padding-bottom: 10px;
}

#cv-details .about-specific p {
    color: #777777;
}

#cv-details .about-specific h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px;
    padding-top: 20px;
    margin: 0 auto;
    font-size: 16px !important;
}

#cv-details .about-specific .label {
    font-weight: normal;
    font-size: 14px;
}

img.cv-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#skills-content {
    padding-top: 20px;
    background-color: #F1F1F1;
}

.skills-detail-section {
    text-align: center;
}

.skills-detail-section .heading {

}

.skills-detail-section .heading i {
    font-size: 70px;
}

.skills-detail-section .heading h2 {
    font-size: 30px;
    font-weight: 700;
}

.skills-detail-section .heading hr {
    width: 30%;
    border-bottom: 2px solid #E90488;
    float: left;
}

.skills-detail-section .content {
    clear: both;
    text-align: left;
}

.skills-detail-section .content ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0 0 0;
}

.skills-detail-section .content ul li {
    color: #777777;
    margin-top: -5px;
}

.skills-detail-section .content ul li span.title {
    font-weight: bold;
    font-size: 14px;
}

.skills-detail-section .content ul li .progress {
    box-shadow: none;
    border-radius: 0;
    height: 11px;
    margin-top: 3px;
}

.skills-detail-section .content ul li .progress .progress-bar {
    background-color: rgb(125, 126, 130);
}

.small-caps {
    text-transform: none !important;
}

section.default-content {
    padding: 50px 0;
    background-color: #F1F1F1;
}

section.default-content .heading {
    border-bottom: 1px solid #ddd;
}

section.default-content .heading h2 {
    font-size: 30px;
    margin-bottom: 14px;
}

#cv-footer {
    background-color: #43474d;
    color: #8c8e91;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 25px 0 5px 0;
}




.navigation-cv.cloned {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: center;
    border-radius:0;
}

.navigation-cv.cloned ul {
    padding: 30px 0;
    margin: 0;
}

.navigation-cv.cloned ul li {
    display: inline;
    width: 100px;
}

.navigation-cv.cloned ul li a{
    color: #fff;
    padding: 15px 30px;
    font-weight: bold;
}

.navigation-cv.cloned ul li a:hover{
    border: 1px solid #000000;
    border-radius: 5px;
    text-decoration:none;
}

.navigation-cv.cloned {
    position: fixed;
    top: 0px;
    margin-top: 0px;
    z-index: 500;
    display: block;
    background-color:#ffffff;
    width:100%;
    padding:0;
}

































@media (max-width: 768px) {

    header.cv-header nav {
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        padding: 0;
        text-align: center;
        min-height: auto !important;
    }

    header.cv-header .header-nav {
        height: 30px !important;
    }

    header.cv-header .header-nav ul {
        height: 30px !important;
        margin: 5px 0;
    }

    header.cv-header .header-nav ul li {
        margin: 0 1px 0 1px;
        float: left;
    }

    header.cv-header .header-nav ul li a {
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
        padding: 3px 5px;
        font-size: 11px;
    }

    header.cv-header .header-nav ul li a:hover,
    header.cv-header .header-nav ul li a:active,
    header.cv-header .header-nav ul li a:focus {
        background: none;
        border: 1px solid #ffffff;
        border-radius: 4px;
        margin: -1px -1px -1px -1px;
    }









    .navigation-cv.cloned ul {
        padding: 0 !important;
    }

    .navigation-cv.cloned ul li {
        width:auto !important;
    }

    .navigation-cv.cloned ul li a{
        padding:0px 5px !important;
        font-size:11px !important;
    }


}

.social-media a:hover,
.social-media a:active,
.social-media a:visited,
.social-media a:link {
    text-decoration: none;
}
