/*
Theme Name:     Jupiter Child Theme
Theme URI: 		http://themeforest.net/user/artbees
Description:    Child theme for the Jupiter theme
Author:         Your name here
Theme URI: 		http://themeforest.net/user/artbees
Template:       jupiter
Version:        4.0.5
*/

.col-md-12 {
    float: left;
    overflow: auto;
    width: 100%;
}

.col-md-6{
    width: 60%;
    float: left;
    overflow: auto;
}

.col-md-5{
    width: 50%;
    float: left;
    overflow: auto;
}

.col-md-4{
    width: 40%;
    float: left;
    overflow: auto;
}

.col-md-7{
    width: 70%;
    float: left;
    overflow: auto;
}

.col-md-8{
    width: 80%;
    float: left;
    overflow: auto;
}

.col-md-2{
    width: 20%;
    float: left;
    overflow: auto;
}

.col-md-3{
    width: 30%;
    float: left;
    overflow: auto;
}
/* COMPANY PROFILE */


img.company-logo {
    width: 50%;
}

.wppdf{
    display: none;
}

.company-header {
    padding: 30px;
    text-align: center;

}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

.company-header h3 {
    font-size: 24px;
    text-align: center;
    color: #ffffff !important;
    font-weight: 300 !important;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-transform: Capitalize !important;
}

.company-title h2{
    font-size: 25px !important;
    text-align: left;
    color: #393836;
    font-style: inhert;
    font-weight: normal !important;
    margin-top: 20px;
    margin-bottom: 0px;
    text-transform: capitalize !important;
    letter-spacing: 0px;
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 7px;
}

.company-description {
    font-size: 16px;
    color: #777777;
    line-height: 1.66em;
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid #D7D7D7;
}

.secondary-footer {
    background-color: rgba(0,0,0,0.12);
    padding: 21px;
    text-align: center;
}

ul{
    list-style: none;
}

ul.perks li {
    padding: 8px;
    font-size: 12px;
    color: #fff;
    margin: 0;
    font-weight: 500;
}

.company-perks i {
    padding-right: 17px;
    font-size: 21px;
    color: #fff;
    width: 25px;
}

.company-perks h2{
    font-size: 25px !important;
    text-align: left;
    color: #393836;
    font-style: inhert;
    font-weight: normal !important;
    margin-top: 20px;
    margin-bottom: 0px;
    text-transform: capitalize !important;
    letter-spacing: 0px;
    padding-bottom: 11px;
}


.main-footer {
    text-align: center;
    padding: 35px;
}
/*Perks List Background Color Shuffle */

ul.perks li:first-child{
    background-color: #00AABE;
}

ul.perks li:nth-child(2){
    background-color: #81B94A;
}

ul.perks li:nth-child(3){
    background-color: #353B2B;
}

ul.perks li:nth-child(4){
    background-color: #677157;
}

ul.perks li:nth-child(5){
    background-color: #9A5073;
}

ul.perks li:nth-child(6){
    background-color: #523B5A;
}

ul.perks li:nth-child(7){
    background-color: #00AABE;
}

ul.perks li:nth-child(8){
    background-color: #81B94A;
}

ul.perks li:nth-child(9){
    background-color: #353B2B;
}

ul.perks li:nth-child(10){
    background-color: #677157;
}


ul.perks li:nth-child(11){
    background-color: #81B94A;
}

ul.perks li:nth-child(12){
    background-color: #353B2B;
}

ul.perks li:nth-child(13){
    background-color: #677157;
}

ul.perks li:nth-child(14){
    background-color: #9A5073;
}

ul.perks li:nth-child(15){
    background-color: #523B5A;
}

ul.perks li:nth-child(16){
    background-color: #00AABE;
}

ul.perks li:nth-child(17){
    background-color: #81B94A;
}

ul.perks li:nth-child(18){
    background-color: #353B2B;
}

ul.perks li:nth-child(19){
    background-color: #677157;
}

ul.perks li:nth-child(20){
    background-color: #81B94A;
}

ul.perks li:nth-child(21){
    background-color: #353B2B;
}

ul.perks li:nth-child(22){
    background-color: #677157;
}

ul.perks li:nth-child(23){
    background-color: #9A5073;
}

ul.perks li:nth-child(24){
    background-color: #523B5A;
}

ul.perks li:nth-child(25){
    background-color: #00AABE;
}

ul.perks li:nth-child(26){
    background-color: #81B94A;
}

ul.perks li:nth-child(27){
    background-color: #353B2B;
}

ul.perks li:nth-child(28){
    background-color: #677157;
}

ul.perks {
    margin: 0;
}

.company-perks {
    padding-left: 30px;
}


ul.social-media {
    text-align: right;
    margin-top: 13px;
}

.social-media li{
    display: inline;
    margin-left: 5px;
}
.social-media li a i {
    font-size: 41px;
}

.perks-btn {
    width: 45%;
    float: right;
    margin: 2px;
    margin-top: 10px;
}

.perks-btn.video-btn {
    width: 51%;
    margin-right: 5px;
}

a.mk-post-nav {
    display: none;
}

.perks p {
    color: #fff;
    text-transform: none;
    font-weight: 300;
    font-size: 14px;
    padding-left: 55px;
}

#mk-page-introduce {
    display: none;
}

.ult_modal-content .perks li i {
    font-size: 45px;
    padding: 30px 0 20px;
    line-height: 0;
    width: 55px;
}

.perks span {
    font-size: 20px;
    line-height: 33px;
}

.theme-content{
    overflow: auto;
}

.logo-thumb {
    float: left;
    width: 5%;
    padding: 5px;
}

.job-title {
    float: left;
    width: 21%;
    padding: 0 10px 10px 10px;
}

.job-title h2 {
    font-size: 20px !important;
    color: #000 !important;
    line-height: 30px;
    margin: 0;
}

.job-skills {
    float: left;
    width: 22%;
    padding: 0 10px;
    border-left: 1px solid #959698;
    min-height: 80px;
}


#cmd {
    background-color: #6DAB3C;
    border: 0;
    color: #fff;
    font-size: 19px;
    padding: 16px 24px;
    border-radius: 25px;
}

.job-skills ul.left, .job-skills ul.right {
    float: left;
    width: 49%;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #fff;
    font-size: 12px;
}



.ignite .ribbon {
    position: relative;
    top: -8px;
    float: left;
    left: -1px;
    height: 90px;
    background-color: #2FB135;
    width: 20px;
    bottom: -16px;
}

.amplify .ribbon {
    position: relative;
    top: -8px;
    float: left;
    left: -1px;
    height: 90px;
    background-color: #ff9000;
    width: 20px;
    bottom: -16px;
}

span.alert-user-exist {
    background-color: #FFFFDB;
    border: 1px solid #9A9A06;
    padding: 5px 10px;
    color: #000;
}

#acf-job_post_id{
    display: none;
}
.ignite-footer .company-logo, .mk-grid.header-grid .company-logo {
    width: 250px !important;
}

#mk-theme-container:not(.mk-transparent-header) .header-style-1 .mk-header-padding-wrapper, #mk-theme-container:not(.mk-transparent-header) .header-style-3 .mk-header-padding-wrapper {
    padding-top: 44px;
}

.vc_gitem-animated-block.vc_gitem-animate.vc_gitem-animate-slideBottom {
    display: none;
}

.featured-job-title h4 a {
    font-size: 14px;
    color: #EC128F;
}

.featured-job-location, .featured-job-type, .featured-maximum-salary {
    font-size: 12px;
}

.apply-now-btn a {
    margin-top: 14px;
    background-color: #CDDC2B !important;
    color: #02324C !important;
}

.featured-job-type {
    text-transform: uppercase;
    font-size: 11px;
}

#acf-amplified {
    display: none;
}

.featured-label p {
    margin: 0;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
}

#acf-ja_cv_resume, #acf-ja_linkedin_profile_url {
    width: 46%;
    float: left;
    display: none;
}

.postbox {
    overflow: auto;
}

.basic .ribbon {
    visibility: hidden;
    position: relative;
    top: -8px;
    float: left;
    left: -1px;
    height: 90px;
    background-color: #ff9000;
    width: 20px;
    bottom: -16px;
}

.ribbon img {
    width: 100%;
    margin-left: 1px;
    margin-top: 0px;
}

.job-list .logo-thumb {
    margin-left: 0px;
}

.job-portal .logo-thumb {
    margin-left: 0px;
}

.job-skills ul.right {
    margin-left: 3px;
}

.job-skills ul li {
    margin-left: 0;
    padding: 0 5px;
    margin-bottom: 3px;
}


.job-skills ul.left li:nth-child(1){
    background: #67686A;
}

.job-skills ul.left li:nth-child(2){
    background: #7E7F81;
}

.job-skills ul.left li:nth-child(3){
    background: #959698;
}

.job-skills ul.right li:nth-child(1){
    background: #ACACAE;
}

.job-skills ul.right li:nth-child(2){
    background: #C3C3C3;
}


.job-skills ul.right li:nth-child(3){
    background: #D9D9DB;
}

li.job-list {
    padding: 10px 0;
    overflow: auto;
    border-top: 1px solid #959698;
}

a:last-child .job-list {

    border-bottom: 1px solid #959698;
}


.select2-container-disabled {
    display: none !important;
}

.experience {
    float: left;
    width: 10%;
    padding: 0 10px;
    /*border-left: 1px solid #959698;*/
    min-height: 80px;
    text-align: center;
}

span.exp-title {
    font-size: 17px;
    color: #000;
}

.job-list i {
    font-size: 42px;
}

div.location {
    float: left;
    width: 20%;
    padding: 0 10px;
    min-height:  80px;
    text-align: center;
    /*border-left: 1px solid #959698;*/
}

p.location {
    width: 100%;
    margin: 0;
    color: #000;
    font-size: 12px;
    padding: 0;
}

.max-salary {
    float: left;
    width: 10%;
    padding: 0 10px;
    min-height:  80px;
    text-align: center;
    /*border-left: 1px solid #959698;*/
}

p.maximum {
    width: 100%;
    margin: 0;
    font-size: 17px;
    color: #000;
    padding: 0;
}

.benefits {
    float: left;
    width: 8%;
    padding: 0 10px;
    min-height:  80px;
    text-align: center;
    border-left: 1px solid #959698;
}

.meta-info {
    float: left;
    width: 10%;
    padding: 0 10px;
    min-height:  80px;
    text-align: center;
    /*border-left: 1px solid #959698;*/
}

p.job-type, p.date-posted {
    background-color: #6f6f6f;
    padding: 3px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 9px;
    width: 100%;
    margin: 0;
}

.perks-btn-full {
    padding-top: 10px;
}

input.button.add-image {
    background-color: #EC128F;
}

.social-media i.fa {
    color: #fff !important;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 35px;
    border-radius: 100%;
    line-height: 55px;
}

li.acf-image-select {
    width: 200px;
    padding: 0 20px 0;
}

.acf-image-select-selected img {
    border: solid 4px #EC128F !important;
}

button.wppdf-download {
    border: 0;
    background-color: #6DAB3C;
    color: #fff;
    font-size: 19px;
    padding: 13px 24px;
    border-radius: 29px;
}

button.wppdf-download i {
    padding-right: 18px;
    font-size: 27px;
}

button.wppdf-download:hover {
    transition: 0.5s ease-out;
    background-color: #5D9D2C;
}

#acf-applicant_upload_cv, #acf-check, #acf-ja_sub, #acf-applicant_cover_letter, #acf-ja_company_email, #acf-ja_msg {
    float: left;
    width: 100%;
}
/* END COMPANY PROFILE */


/* START JOB POST */

.vc_col-sm-2.wpb_column.column_container {
    float: left;
    width: 20%;
}

.vc_col-sm-8.wpb_column.column_container {
    width: 60%;
    float: left;
}

.company-header img.lightbox-false {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

.social-share {
    text-align: right;
}

h1.post-title {
    font-size: 30px;
    text-align: left;
    color: #393836;
    font-weight: 100 !important;
    text-transform: capitalize !important;
}

.meta-head {
    overflow: auto;
    border-bottom: 1px solid #e1e1e1;
}

.sidebar .job-type {
    margin: 20px 20px 0 0;
    background-color: #67686a;
    padding: 15px;
}

.sidebar i {
    color: #fff;
    float: left;
    padding: 0px 18px 0 0;
    font-size: 38px;
}

.sidebar h4 {
    text-transform: capitalize !important;
    color: #fff !important;
    font-size: 21px !important;
}

.sidebar p {
    color: #fff;
    margin: 0;
    font-size: 12px;
}

p.date {
    text-align: center;
    color: #000;
    padding: 6px 0;
    float: left;
    width: 100%;
    font-size: 18px;
}

.job-content .ja-form {
    width: 93%;
}

#acf-applicant_cover_letter, #acf-ja_msg {
    display: none;
}

.job-location {
    padding: 15px;
}

.sidebar .job-location i {
    padding-right: 30px;
}

#acf-apl_last_name, #acf-apl_first_name, #acf-apl_email_address, #acf-applicant_linkedin_profile {
    width: 50%;
    float: left;
    padding-right: 20px;
}

input#acf-field-apl_first_name {
    width: 100% !important;
}

span.progress-percent {
    display: none;
}

p.notification {
    padding: 20px 0 0 0;
    font-size: 13px;
    font-style: italic;
    border-top: 1px solid #BEBEBE;
}

.job-salary {
    background-color: #67686A;
    padding: 15px;
}

.sidebar .job-salary i {
    padding: 0px 30px 0px 0px;
}

.job-perks {
    padding: 15px;
}

.sidebar .company-perks {
    padding: 0;
}

.sidebar i.fa {
    font-size: 21px;
}

.sidebar .job-location i {
    padding-bottom: 20px;
}

.sidebar .perks-btn {
    width: 100%;
}

a.vc_btn.vc_btn_green.vc_btn-green.vc_btn_lg.vc_btn-lg.vc_btn_round {
    background-color: #6dab3c;
    color: #ffffff !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 25px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}

hr.education {
    padding-bottom: 23px;
}

.sidebar h3.exp-title {
    padding: 20px 0 10px 0;
    font-style: italic;
    text-transform: capitalize !important;
    border-bottom: 1px solid #e1e1e1;
    text-align: left;
}

.sidebar .job-experience {
    text-align: center;
}

.job-content p {
    padding: 0 0 0 50px;
    margin-bottom: 0;
}

.job-content p:first-child {
    padding: 30px 0 0 50px;
}


/* END JOB POST */


/* CANDIDATE STYLE*/
.logo{
    text-align: center;
}

.logo img {
    width: 400px;
}

.cv-header {
    background: url(images/searchability-star2.jpg);
    background-attachment: fixed;
    padding-bottom: 26px;
}

.navigation-cv {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: center;
}

.navigation-cv ul {
    padding: 30px 0;
    margin: 0;
}

.navigation-cv ul li {
    display: inline;
    width: 100px;
}

.navigation-cv ul li a{
    color: #fff;
    padding: 15px 30px;
    font-weight: bold;
}

.navigation-cv ul li a:hover{
    border: 1px solid #fff;
    border-radius: 5px;
}

.home-cv {
    margin: 50px auto 10px;
    width: 450px;
    text-align: center;
    border: 2px solid #fff;
    padding: 32px 20px;
}

.home-cv h1.name {
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    margin: 0;
}

.home-cv h2.tagline {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.cv-header h3.scroll-notice {
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.heading {
    background-color: #3c4045;
    color: #fff;
    text-align: center;
    padding: 40px;
}

.heading span.heading-text {
    font-weight: bold;
    font-size: 40px;
    padding: 0 30px 5px;
    border-bottom: 4px solid #cddc2b;
}

.heading span.subheading {
    font-size: 29px;
}

.cv-content {
    padding: 50px 0;
}

h1.cv-name {
    color: #393836;
    font-weight: bolder;
    margin-bottom: 0px;
}

.about-me {
    text-align: center;
}

h2.cv-tagline {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 30px;
    border-bottom: 4px solid #CDDC2B;
    width: 70%;
    margin: 0 auto;
}

p.cv-about {
    margin: 35px;
}

img.cv-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.col-md-4.photo {
    text-align: center;
}

.cv-content h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px;
    padding-top: 20px;
    border-top: 2px solid #EC128F;
    width: 79%;
    margin: 0 auto;
    font-size: 16px !important;
}

.section-heading {
    text-align: center;
    margin-bottom: 50px;
}

.section-heading i {
    font-size: 60px;
}

.section-heading h2.cv-heading {
    font-weight: bold;
    font-size: 28px;
}

.section-heading hr {
    width: 29%;
    border-bottom: 2px solid #E90488;
}

.cv-skills {
    padding: 0 23px;
}

.section-heading.cv-paragraph {
    text-align: left;
}

.section-heading.cv-paragraph hr {
    width: 100%;
    border-bottom: 2px solid #E90488;
}

span.hobby {
    background-color: #50485b;
    padding: 13px 30px;
    margin: 5px;
    border-radius: 50px;
    color: #fff;
    font-size: 17px;
}

h2.cv-education-h, h2.cv-experience-h {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0 0;
}

.checked {
    display: none !important;
}

i.fa.fa-check.false {
    display: none;
}

i.fa.fa-check.checked {
    display: block !important;
    font-size: 14px;
    color: green;
}

.exp-content p {
    padding: 0 0 48px 43px !important;
    font-size: 13px !important;
    border-bottom: 1px solid #DDD;
}

.exp-content, .educ-content {
    padding: 30px;
}

span.year {
    font-style: italic;
    padding-left: 51px;
    font-weight: bold;
}

.educ-content p {
    font-size: 13px;
    padding-left: 48px;
    margin: 0;
}

.cv-content.hobbies {
    text-align: center;
}

#wp-wysiwyg-acf-field-company_description-55d1758d18a9e-media-buttons {
    display: none;
}

.hide-if-no-js.wp-media-buttons {
    display: none;
}


#acf-ja_company_email, #acf-ja_user_email, #acf-ja_full_name, #acf-ja_sub {
    display: none;
}

.ja-form {
    width: 85%;
    margin: 0 auto;
}

.ja-form .acf_postbox .field textarea, .ja-form input[type='text'] {
    width: 89% !important;
}

a.button.add-file {
    background-color: #000;
}


@-webkit-keyframes fadeIn {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeIn {
    from { opacity: 1; }
    to { opacity: 0; }
}

tr.hide{
    display: none;

    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.job-lists th {
    width: 239px;
}
/* END CANDIDATE STYLE */

li.sf-field-sort_order, li.sf-field-post-meta-job_type, li.sf-field-post-meta-job_location, li.sf-field-tag {
    width: 33%;
    float: left;
}

li.sf-field-search input {
    width: 98%;
}

form#search-filter-form-252 {
    background-color: #F7F7F7;
    padding: 30px 50px 30px 30px;
    min-height: 215px;
}

li.cat-item {
    width: 35%;
    float: left;
}

.job-portal li:hover {
    background-color: #F7F7F7;
}

ul.job-portal {
    padding: 0;
    margin: 0;
}

ul.job-portal li {
    padding: 15px 0 0;
    margin: 0 !important;
    overflow: auto;
}

hr {
    margin: 0;
}

.job-portal-title {
    width: 50%;
    float: left;
}

.job-portal-author {
    float: left;
    width: 20%;
    text-align: center;
}

.job-portal-meta {
    float: right;
    width: 20%;
    text-align: center;
}

.job-portal-logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0px 0px 4px #C8C8C8;
}

.job-portal-logo {
    width: 8%;
    float: left;
}

.job-portal-title h2 {
    font-size: 27px !important;
    font-weight: 300 !important;
    text-transform: capitalize !important;
    margin: 0 !important;
}

.job-portal-author p {
    color: #999;
    text-transform: capitalize;
    font-size: 14px;
    margin: 0;
    line-height: 36px;
}

.job-portal-meta p.type {
    color: #f08d3c;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 39px;
    margin: 0;
}



li.job-list.featured {
    border-right: 6px solid #EC128F;
    border-left: 6px solid #EC128F;
}

p.found {
    margin: 20px 0;
    color: #000;
    font-size: 12px;
    font-style: italic;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 20px;
}

ul.job-portal li li {
    padding: 0px 5px;
}

.job-portal span.exp-title {
    font-size: 14px;
}

ul.perks li {
    overflow: auto;
}

.sidebar .perks-icon-wrapper i{
    float: none;
}

.perks-icon-wrapper {
    float: left;
    text-align: center;
    width: 20%;
}

.perks-description-wrapper {
    width: 80%;
    float: left;
}

.perks p{
    padding-left:0px;
}
.col-md-12.job-location {
    padding-bottom: 0;
    height: 78px;
}

.col-md-12.job-salary {
    height: 78px;
}

.col-md-12.job-perks {
    height: 78px;
}

.select2-result-label {
    font-size: 30px;
}

div#search-filter-results-252 {
    opacity: 1!important;
}

.sidebar .job-type {
    margin: 20px 20px 0 0;
    background-color: #67686a;
    padding: 15px;
    height: 78px;
}

.job-content ul{
    list-style: inherit!important;
    margin-left: 60px ;

}

a.button.insert-media.add_media {
    display: none;
}

a#add_image {
    display: none!important;
}

a#add_video {
    display: none;
}

a#add_audio {
    display: none;
}

i.fa.fa-book.mm-icon.blue {
    display: none;
}

i.fa.fa-search.mm-icon.orange {
    display: none;
}

select#mm-template-selector {
    display: none;
}

#acf-company_description span{
    display:none;
}

/*KEVIN START*/
@media(max-width:600px){
    body{
        width: auto !important;
        overflow-x: hidden !important;
    }

    .chosen-container.chosen-container-multi {
        width: 98%!important;
    }

    .searchandfilter select {
        min-width: 98%!important;
    }

    .main-footer img.company-logo {
        width: 35%  !important;
    }

    .ribbon, .logo-thumb {
        display: none;
    }

    .company-header {
        padding: 30px;
        text-align: center;

    }
    .company-description{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .col-md-7 {
        width: 100%;
        text-align:left;
    }

    .company-title h2 {
        font-size: 25px !important;
        text-align: center;
        color: #393836;
        font-style: inhert;
        font-weight: normal !important;
        margin-top: 20px;
        margin-bottom: 0px;
        text-transform: capitalize !important;
        letter-spacing: 0px;
        border-bottom: 1px solid #D7D7D7;
        padding-bottom: 7px;
    }

    .header-logo img {
        max-width: 180px;
    }

    .col-md-3 {
        width: 100%;
        text-align: center;
    }

    ul.social-media {
        text-align: center;
    }

    ul.job-lists {
        margin: 0;
    }

    ul.social-media {
        margin-bottom: 1em;
        margin-left: 0;
    }

    .company-perks {
        padding-left: 0px;
    }

    .company-perks h2 {
        font-size: 25px !important;
        text-align: center;
        color: #393836;
        font-style: inhert;
        font-weight: normal !important;
        margin-top: 20px;
        margin-bottom: 0px;
        text-transform: capitalize !important;
        letter-spacing: 0px;
        padding-bottom: 11px;
    }

    .job-title {
        width: 100%;
        text-align: center;
        float: left;
        padding: 0px;
    }


    .experience {
        width: 100%;
        text-align: center;
        border: none;
    }

    img.meter {
        width: 50%;
        margin: 0 24%;
    }

    .job-skills {
        width: 100%;
        border: none;
    }

    p.maximum {
        width: 100%;
        margin: 0;
        font-size: 13px;
        color: #000;
        padding: 0;
    }

    .max-salary {
        width: 50%;
        border:none;
        padding-top: 25px;
    }

    .benefits {
        width: 33.33%;
        border:none;
    }

    span.exp-title {
        font-size: 11px;
    }

    .meta-info {
        width: 100%;
        border:none;
    }

    .location{
        padding: 0 10px;
        min-height: 80px;
        text-align: center;
        border:none;
    }

    div.location {
        float: left;
        width: 50%;
        padding: 0px;
        min-height: 80px;
        text-align: center;
        border: none;
        padding-top: 25px;
    }

    .page-introduce-title {
        font-size: 20px;
        color: #4d4d4d;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 2px;
        text-align: center;
    }



    /*Kenneth Start */
    .vc_col-sm-2.wpb_column.column_container {
        float: left!important;
        width: 100%!important;
        margin-top: 20px!important;
    }

    .vc_col-sm-8.wpb_column.column_container {
        width: 100%!important;
        float: left!important;
        margin-top: 20px!important;
    }

    #theme-page h1 {
        font-size: 23px!important;
        text-align: center!important;
    }

    .social-share {
        text-align: center!important;
        width: 100%!important;
    }

    .col-md-3.sidebar {
        width: 100%!important;
    }

    .job-content p {
        padding: 0px 0px 0px 0px!important;
    }

    .col-md-7.job-content {
        width: 100%!important;
        text-align: left!important;
    }

    .job-portal span.exp-title {
        font-size: 11px;
    }

    .job-skills ul.left, .job-skills ul.right {
        float: left;
        width: 100%!important;
        padding: 0;
        margin: 0;
        list-style: none;
        color: #fff;
        font-size: 11px;
    }

    .job-skills ul.right {
        margin-left: 0px!important;
    }

    .ja-form {
        width: 100%!important;
        margin: 0 auto!important;
        overflow: none!important;
    }

    .job-title h2 {
        font-size: 16px !important;
        color: #000 !important;
        line-height: 30px;
        margin: 0;
    }

    .col-md-6{
        width:100%!important;
    }

    div#wp-wysiwyg-acf-field-company_description-55940ad127e58-wrap a, div#wp-wysiwyg-acf-field-company_description-55940ad127e58-wrap img {
        width: 100%!important;
    }

    .acf-color_picker input[type="text"] {
        display: inline;
        width: 100%!important;
    }

    .hl > li.right {
        float: left!important;
    }

    .acf_postbox .field input[type="text"], .acf_postbox .field input[type="number"], .acf_postbox .field input[type="password"], .acf_postbox .field input[type="email"], .acf_postbox .field textarea {
        max-width: 100%!important;
    }

    li.sf-field-sort_order, li.sf-field-post-meta-job_type, li.sf-field-post-meta-job_location, li.sf-field-tag {
        width: 100%!important;
        float: none!important;
    }

    .searchandfilter ul li li {
        padding: 5px 0;
        width: 50%;
        margin-bottom: 20px;
    }

    .mm-login .mm-label {
        margin-left: -30px;
        display:block;
    }

    .mm-login .mm-field {
        width: 100%;
    }

    .mm-login .mm-label-column {
        width: 200px;
        display: block;
    }

    .mm-login .mm-field-column {
        display: table-row;
        width: auto;
    }

    .mm-login .mm-remember-me {
        margin-left: 0px;
        display: flex;
    }

    #mm-login-button {
        width: 190px !important;
        margin-bottom: 20px;
    }

    form#mm-login-form td.mm-label-column input{
        width: 100%;
        display:block;
    }

    form#mm-login-form td.mm-field-column input {
        width: 250px;
        display: block;
        margin-right: 10px;
        margin-top: 5px;
    }

    #mm-login-form h3{
        font-size: 13px!important;
    }


    /*Kenneth End */

}


/* KEVIN END*/

@media (max-width: 600px){



    .logo img {
        width: 100%;
    }

    .navigation-cv {
        text-align: none;
        width: 100%;

    }

    .navigation-cv ul {
        padding: 0;
        margin: 0;
        font-size: 10px;
    }

    .navigation-cv ul li a {
        padding: 0;
    }

    .home-cv {
        width: 69%;
    }

    .heading {
        width: 100%;
        margin-left: -41px;
    }
    .col-md-6 {
        width: 100%;
    }

    .col-md-4 {
        width: 100%;
    }

    .col-md-5 {
        width: 100%;
    }

    span.hobby {
        padding: 5px 5px;
        margin: 4px;
        font-size: 14px;
    }

    .heading span.heading-text {

        font-size: 20px;
        padding: 0;
    }

    .heading span.subheading {
        font-size: 18px;
    }

    a.vc_btn.vc_btn_green.vc_btn-green.vc_btn_lg.vc_btn-lg.vc_btn_round {
        margin-bottom: 20px;
        width: 83%;
    }

    .meta-info {
        width: 50%;
    }

}

@media(max-width: 1024px){
    .job-portal span.exp-title {
        font-size: 10px;
    }

    li.cat-item {
        width: 45%;
        float: left;
    }

    .chosen-container-multi .chosen-choices{
        width:80%;
    }
    .job-skills ul.left, .job-skills ul.right {
        float: left;
        width: 100%!important;
        padding: 0;
        margin: 0;
        list-style: none;
        color: #fff;
        font-size: 11px;
    }

    .job-list .meta-info {
        width: 100%;
    }

    .job-skills ul.right {
        margin-left: 0px!important;
    }
}

.hide-if-no-js.wp-media-buttons {
    display: none;
}

li.sf-field-submit {
    float: right;
    margin: 0 25px !important;
}

.sf-field-submit input[type="submit"] {
    background-color: #EC118F;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding: 10px 22px !important;
}

form#search-filter-form-252 {
    overflow: auto;
}

#acf-company_video {
    display: block !important;
}