<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title">
            <span data-translate="NAVIGATION"></span>
        </li>
        <li><a href="#/dashboard"> <i class="ti-home"></i><span data-translate="DASHBOARD"></span> </a></li>
        <li>
            <a href="#/resume"><i class="ti-bag"></i><span data-translate="RESUME"></span></a>
        </li>
        <li>
            <a href="#/jobs_applied"><i class="ti-files"></i><span data-translate="JOBS_APPLIED"></span></a>
        </li>
        <li>
            <a href="#/branding"><i class="ti-view-list"></i><span data-translate="BRANDING"></span></a>
        </li>
    </ul>
</div>

