<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title">
            <span data-translate="NAVIGATION"></span>
        </li>
        <li><a href="#/dashboard"> <i class="ti-home"></i><span data-translate="DASHBOARD"></span> </a></li>
        <li>
            <a href="#/members"><i class="ti-bag"></i><span data-translate="MEMBERS"></span></a>
        </li>
        <li>
            <a href="#"><i class="ti-files"></i><span data-translate="JOBS"></span></a>
            <ul>
                <li>
                    <a href="#/jobs">
                        <i class="ti-angle-right"></i>
                        <span data-translate="MANAGE_JOBS"></span>
                    </a>
                </li>
                <li>
                    <a href="#/view_holler_history">
                        <i class="ti-angle-right"></i>
                        <span data-translate="VIEW_HOLLER_HISTORY"></span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/resume"><i class="ti-view-list"></i><span data-translate="RESUME"></span></a>
        </li>
        <li>
            <a href="#"><i class="ti-pencil"></i><span data-translate="BILLING"></span></a>
            <ul>
                <li>
                    <a href="#/billing">
                        <i class="ti-angle-right"></i>
                        <span data-translate="MANAGE_BILLING"></span>
                    </a>
                </li>
                <li>
                    <a href="#/coupon">
                        <i class="ti-angle-right"></i>
                        <span data-translate="MANAGE_COUPON"></span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="ti-bar-chart"></i><span data-translate="PRODUCTS"></span></a>
            <ul>
                <li>
                    <a href="#/products">
                        <i class="ti-angle-right"></i>
                        <span data-translate="MEMBERSHIP"></span>
                    </a>
                </li>
                <li>
                    <a href="#/brandings">
                        <i class="ti-angle-right"></i>
                        <span data-translate="BRANDING"></span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="ti-bar-chart"></i><span data-translate="INTEGRATIONS"></span></a>
            <ul>
                <li>
                    <a href="#/google_analytics">
                        <i class="ti-angle-right"></i>
                        <span data-translate="GOOGLE_ANALYTICS"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>

