/* Pill style */
#scrollUp {
    bottom: 20px;
    right: 20px;
    background-color: rgba(85, 85, 85, 0.42);
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
    opacity: .9;
    padding: 10px 14px;

    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    transition: background 200ms linear;
    -webkit-backface-visibility: hidden;


    font-size:18px;

}

#scrollUp:hover {
    background-color: rgba(85, 85, 85, 0.72);
}
