<div class="page billing">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Billing Form</strong></div>
        <div class="panel-body form-validation">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="form-group col-sm-12">
                        <label for="">STRIPE TEST KEY</label> 
                        <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.test_key" >
                        <span class="help-block {{showErrorBlock('test_key', 'hidden')}}">
                            <strong ng-repeat="error in errors.test_key">{{error}}</strong>
                        </span>
                    </div>
                    
                    <div class="form-group col-sm-12">
                        <label for="">STRIPE TEST SECRET</label> 
                        <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.test_secret" >
                        <span class="help-block {{showErrorBlock('test_secret', 'hidden')}}">
                            <strong ng-repeat="error in errors.test_secret">{{error}}</strong>
                        </span>
                    </div>

                    <hr class="dotted" />

                    <div class="form-group col-sm-12">
                        <label for="">STRIPE LIVE KEY</label> 
                        <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.live_key" >
                        <span class="help-block {{showErrorBlock('live_key', 'hidden')}}">
                            <strong ng-repeat="error in errors.live_key">{{error}}</strong>
                        </span>
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="">STRIPE LIVE SECRET</label> 
                        <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.live_secret" >
                        <span class="help-block {{showErrorBlock('live_secret', 'hidden')}}">
                            <strong ng-repeat="error in errors.live_secret">{{error}}</strong>
                        </span>
                    </div>


                    <hr class="dotted" />

                    <div class="form-group col-sm-5">
                    </div>

                    <div class="form-group col-sm-7">

                        <button ng-click="onSubmitForm()" 
                                type="button" 
                                class="btn btn-gap-v btn-warning pull-right">
                            SAVE KEYS
                        </button>

                    </div>


                </div>
            </div>
        </div>
    </section>

</div>