<div class="page col-sm-6">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> CREATE BRANDING </strong></div>
        <div class="branding panel-body form-validation">

            <div class="form-group col-sm-12">
                <label for="">Brand Title</label> 
                <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.title"
                		restrict-upper-case="[^a-zA-Z0-9\s]" >
                <span class="help-block {{showErrorBlock('title', 'hidden')}}">
					<strong ng-repeat="error in errors.title">{{error}}</strong>
				</span>
            </div>
			
            <div class="form-group col-sm-4"> 
                <label for="">Price</label>
                <input type="number"
                        min="0.01" step="0.01" class="form-control price" placeholder="" required ng-model="data.price"
                        ng-disabled="priceFieldDisabled" >
                <span class="help-block {{showErrorBlock('price', 'hidden')}}">
                    <strong ng-repeat="error in errors.price">{{error}}</strong>
                </span>
            </div>

			<div class="form-group col-sm-8">
                <label for="">Paid Per</label>
                <label class="ui-radio ">
                	<input name="paid_per" type="radio" data-ng-model="data.per_payment_type" value="ENTRY"  ><span>Entry</span>
                </label>
                <label class="ui-radio ">
                	<input name="paid_per" type="radio" data-ng-model="data.per_payment_type" value="AUDIT"  ><span>Audit</span>
                </label>
                <label class="ui-radio ">
                    <input name="paid_per" type="radio" data-ng-model="data.per_payment_type" value="MONTH"  ><span>Month</span>
                </label>
                <label class="ui-radio ">
                    <input name="paid_per" type="radio" data-ng-model="data.per_payment_type" value="YEAR"  ><span>Year</span>
                </label>
                
            </div>

            <hr class="dotted" />

            <div class="form-group col-sm-12">
                <label class="ui-radio ">
                    <input name="payment_plan_type" type="radio" data-ng-model="data.payment_plan_type" value="trial"  ><span>Trial</span>
                </label>
                <label class="ui-radio ">
                    <input name="payment_plan_type" type="radio" data-ng-model="data.payment_plan_type" value="subscription"  ><span>Subscription</span>
                </label>
                <label class="ui-radio ">
                    <input name="payment_plan_type" type="radio" data-ng-model="data.payment_plan_type" value="1_time_payment"  ><span>1 Time Payment</span>
                </label>
            </div>
			
            <hr class="dotted" />

			<div class="form-group col-sm-12">
                <label for="">Associated Access</label> <br/>
                <label class="ui-radio ">
                	<input name="associated_access" type="radio" data-ng-model="data.associated_access" value="none"  ><span>None</span>
                </label>
                <label class="ui-radio ">
                	<input name="associated_access" type="radio" data-ng-model="data.associated_access" value="candidate"  ><span>Candidate</span>
                </label>
                <label class="ui-radio ">
                	<input name="associated_access" type="radio" data-ng-model="data.associated_access" value="employer"  ><span>Employer</span>
                </label>
            </div>

            <hr class="dotted" />

            <div class="form-group">
                <label for="">Description</label>

                <textarea class="form-control"
                              rows="10"
                              data-ng-minlength=1
                              required
                              data-ng-model="data.description"></textarea>


                <span class="help-block {{showErrorBlock('description', 'hidden')}}">
					<strong ng-repeat="error in errors.description">{{error}}</strong>
				</span>
            </div>

            <hr class="dotted" />

            <div class="form-group col-sm-4">
            </div>

            <div class="form-group col-sm-8">

	            <button ng-click="onClearForm()" 
            			type="button" 
            			class="btn btn-gap-v btn-danger col-sm-5">
            		{{(updateForm) ? 'Cancel' : 'Clear'}}
            	</button>
        	
	            <button ng-click="onSubmitForm()" 
            			type="button" 
            			class="btn btn-gap-v btn-warning col-sm-6 margin-left-10 ">
            		{{(updateForm) ? 'UPDATE BRANDING' : 'POST BRANDING'}}
            	</button>

            </div>


        </div>
    </section> 

</div>



<div class="page col-sm-6">

    <div class="form-group">
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="onSearchFilter()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{$brandings.length}}/{{_brandings.length}} entries
                    </span>              
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> ALL - BRANDINGS</strong></div>
        <table class="table has-ellipsis">
            <thead>
               <!--  <tr>
                    <th>#</th>
                    <th>Project</th>
                    <th>Status</th>
                    <th>Manager</th>
                    <th>Progress</th>
                </tr> -->
            </thead>
            <tbody>

                <tr ng-repeat="branding in $brandings">
                    <td class="ellipsis"> {{branding.title}}</td>
                    <td class="ellipsis"> {{branding.description}}</td>
                    <td class="col-sm-4"> <span class="ti-id-badge"></span> {{branding.associated_access}}</td>
                    <td class="text-right" style="width: 65px;">
	              		<i ng-click="onUpdateForm(branding)"  class="ti-pencil pull-left"></i>
	              		&nbsp;
	              		<i ng-click="onDeleteForm(branding)" class="ti-close pull-right"></i>
	              	</td>
	              </td>
                </tr>
            </tbody>
        </table>
    </div>

        <footer class="table-footer panel panel-default">
	        <div class="row">
	            <div class="col-md-6 text-right pagination-container">
	                <uib-pagination class="pagination-sm"
	                            ng-model="currentPage"
	                            total-items="_brandings.length"
	                            max-size="4"
	                            ng-change="select(currentPage)"
	                            items-per-page="numPerPage"
	                            rotate="false"
	                            previous-text="&lsaquo;" next-text="&rsaquo;"
	                            boundary-links="true"></uib-pagination>
	            </div>
	        </div>
	    </footer> 

    
</div>

