<div class="page col-sm-6">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> MANAGE COUPON</strong></div>
        <div class="coupon panel-body form-validation">

			<div class="form-group col-sm-6">
                <label for="">Discount Type</label>
                <span class="ui-select" style="height: 34px; width: 100%;">
                    <select ng-model="data.discount_type">
						<option value="">Select Discount Type</option>
						<option ng-repeat="option in discount_type" 
								value="{{option.code}}"
								ng-selected="option.code == data.discount_type" >{{option.value}}</option>
				    </select>
                    <span style="position: absolute;right: -22px;top: 5px;">
                        {{(data.discount_type === 'amount off') ? '&pound;' : '' }}
                    </span>
                </span>

                <span class="help-block {{showErrorBlock('discount_type', 'hidden')}}">
					<strong ng-repeat="error in errors.discount_type">{{error}}</strong>
				</span>
            </div>
            
            <div class="form-group col-sm-6">
                <label for="">&nbsp;</label>
                
                <input  type="number"
                        class="form-control"
                        max="{{(data.discount_type === 'percent off') ? '100' : '' }}"
                        min="{{(data.discount_type === 'percent off') ? '1' : '0.01' }}" 
                        step="{{(data.discount_type === 'percent off') ? '1' : '0.01' }}"
                        required
                        placeholder=""
                        ng-model="data.discount_value">
                <span class="help-block {{showErrorBlock('discount_value', 'hidden')}}">
                    <strong ng-repeat="error in errors.discount_value">{{error}}</strong>
                </span>
            </div>

			<hr class="dotted" />


            <div class="form-group col-sm-6">
                <label for="">Duration</label>
                <span class="ui-select" style="height: 34px; width: 100%;">
                    <select ng-model="data.duration_type" ng-change="onChangeDurationType()">
                        <option value="">Select Duration Type</option>
                        <option ng-repeat="option in duration_type" 
                                value="{{option.code}}"
                                ng-selected="option.code == data.duration_type" >{{option.value}}</option>
                    </select>
                </span>

                <span class="help-block {{showErrorBlock('duration_type', 'hidden')}}">
                    <strong ng-repeat="error in errors.duration_type">{{error}}</strong>
                </span>
            </div>
            
            <div class="form-group col-sm-6">
                <label for="">&nbsp;</label>
                
                <input  type="{{(data.duration_type === 'forever') ? 'text' : 'number'}}"
                        class="form-control"
                        ng-disabled="(ifDurationDisabled)"
                        min="{{(data.duration_type === 'forever') ? '0' : '1'}}" 
                        step="1"
                        required
                        placeholder=""
                        ng-model="data.duration_value"
                        value="{{data.duration_value}}">
                <span class="help-block {{showErrorBlock('duration_value', 'hidden')}}">
                    <strong ng-repeat="error in errors.duration_value">{{error}}</strong>
                </span>
            </div>

            <hr class="dotted" />

            <div class="form-group col-sm-6">
                <label for="">ID (Code)</label>

                <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 
                    ng-model="data.coupon">

                <span class="help-block {{showErrorBlock('coupon', 'hidden')}}">
                    <strong ng-repeat="error in errors.coupon">{{error}}</strong>
                </span>
            </div>

            <div class="form-group col-sm-6">
                <label for="">Max redemptions</label>
                
                <input  type="number"
                        class="form-control"
                        min="1" 
                        step="1"
                        required
                        placeholder=""
                        ng-model="data.max_redemptions">
                <span class="help-block {{showErrorBlock('max_redemptions', 'hidden')}}">
                    <strong ng-repeat="error in errors.max_redemptions">{{error}}</strong>
                </span>
            </div>

            <hr class="dotted" />


            <div class="form-group col-sm-6">
                <label for="">Redeem by </label>

                <div class="input-group ui-datepicker">
                    <input type="text" 
                           class="form-control"
                           uib-datepicker-popup="{{format}}"
                           ng-model="data.redeem_by"
                           is-open="popup1.opened"
                           min-date="minDate"
                           max-date="maxDate"
                           datepicker-options="dateOptions"
                           ng-required="true"
                           close-text="Close"
                           alt-input-formats="altInputFormats" />
                    <span class="input-group-addon" ng-click="open1()"><i class="ti-calendar"></i></span>
                </div>

                <span class="help-block {{showErrorBlock('redeem_by', 'hidden')}}">
					<strong ng-repeat="error in errors.redeem_by">{{error}}</strong>
				</span>
            </div>


            <hr class="dotted" />

            <div class="form-group col-sm-6">&nbsp;</div>
            <div class="form-group col-sm-6">

	            <button ng-click="onClearForm()" 
            			type="button" 
            			class="btn btn-gap-v btn-danger col-sm-4">
            		{{(updateCoupon) ? 'Cancel' : 'Clear'}}
            	</button>
        	
	            <button ng-click="onSubmitForm()" 
            			type="button" 
            			class="btn btn-gap-v btn-warning col-sm-7 margin-left-10 ">
            		{{(updateCoupon) ? 'UPDATE COUPON' : 'POST COUPON'}}
            	</button>


            </div>


        </div>
    </section> 

</div>




<div class="page col-sm-6">

    <div class="form-group">
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="onSearchFilterCoupon()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{$coupons.length}}/{{_coupons.length}} entries
                    </span>              
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> ALL - COUPONS</strong></div>
        <table class="table has-ellipsis">
            <thead>
               <!--  <tr>
                    <th>#</th>
                    <th>Project</th>
                    <th>Status</th>
                    <th>Manager</th>
                    <th>Progress</th>
                </tr> -->
            </thead>
            <tbody>

                <tr ng-repeat="coupon in $coupons">
                    <td>{{coupon.id}}</td>
                    <td><span class="label {{(coupon.valid) ? 'label-info' : 'label-danger'}} ">
                        {{coupon.redeem_by  * 1000 | date:'MMMM-dd-yyyy'}} <!--  HH:mm -->
                        </span>
                    </td>

                    <td>
                        {{(coupon.percent_off === null) ? 
                        '&pound; ' + coupon.amount_off / 100 : coupon.percent_off + ' %'}} off for 
                        {{(coupon.duration === 'repeating') ? coupon.duration_in_months + ' months' : coupon.duration}}
                    </td>
                    
                    <td class="text-right" style="width: 95px;">
                        <i ng-click="onUpdateCouponToForm(coupon)"  class="ti-pencil"></i>
                        &nbsp;
                        <i ng-click="onDeleteCoupon(coupon)" class="ti-close"></i>
                    </td>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>

        <footer class="table-footer panel panel-default">
            <div class="row">
                <div class="col-md-6 text-right pagination-container">
                    <uib-pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="_coupons.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                boundary-links="true"></uib-pagination>
                </div>
            </div>
        </footer> 

    
</div>