<div class="page google-analytics">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Google Analytics</strong></div>
        <div class="panel-body form-validation">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="form-group col-sm-12">
                        <label for="">Code</label> 
                        <textarea ng-model="data.code" class="form-control" rows="12" data-ng-minlength=1></textarea>
                    </div>

                    <hr class="dotted" />

                    <div class="form-group col-sm-5">
                    </div>

                    <div class="form-group col-sm-7">

                        <button ng-click="onSubmitForm()" 
                                type="button" 
                                class="btn btn-gap-v btn-warning pull-right">
                            SAVE CODE
                        </button>

                    </div>


                </div>
            </div>
        </div>
    </section>

</div>