<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h4>ONLINE CV</h4>
    </div>
    <div class="modal-body resume form-validation clearfix">
        <!-- First Column -->
        <div class="col-sm-6">
            
            <div class="form-group col-sm-12">
                <label class="" for="">Assign Resume to a Candidate User</label>
                <span class="ui-select " style="height: 34px;">
                    <select ng-model="data.candidate_user" ng-disabled="(updateResume)">
                        <option value="">Select Job Type</option>
                        <option ng-repeat="user in $users_without_resume" 
                                value="{{user.id}}"
                                ng-selected="user.id == data.candidate_user" >{{user.firstname}} {{user.lastname}}</option>
                    </select>
                </span>
                <span class="help-block {{showErrorBlock('candidate_user', 'hidden')}}">
                    <strong ng-repeat="error in errors.candidate_user">{{error}}</strong>
                </span>
            </div>

            <div class="form-group col-sm-12">
                <label for="">Full Name</label>
                <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.full_name">
                <span class="help-block {{showErrorBlock('full_name', 'hidden')}}">
                    <strong ng-repeat="error in errors.full_name">{{error}}</strong>
                </span>
            </div>

            <div class="form-group col-sm-12">
                <label for="">Tagline</label>
                <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.tagline">
                <span class="help-block {{showErrorBlock('tagline', 'hidden')}}">
                    <strong ng-repeat="error in errors.tagline">{{error}}</strong>
                </span>
            </div>

            <div class="form-group col-sm-12">
                <label for="">About Me</label>

                <textarea class="form-control"
                              rows="6"
                              data-ng-minlength=1
                              required
                              data-ng-model="data.about_me"></textarea>


                <span class="help-block {{showErrorBlock('about_me', 'hidden')}}">
                    <strong ng-repeat="error in errors.about_me">{{error}}</strong>
                </span>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-4" for="">Profile Photo: &nbsp;</label>
                <small class="col-sm-4" ng-show="profile_photo_src == null">No Image selected</small>
                <div class="col-sm-4" ng-show="profile_photo_src != null"  class="col-sm-4">
                    <div class="thumbnail">
                        <img  ng-src="{{profile_photo_src}}">
                    </div> 
                </div>
                <input class="btn-warning col-sm-4" type="file" title="ADD IMAGE" 
                    file-model = "data.profile_photo"
                    file-image-src="profile_photo_src"
                    data-ui-file-upload>
                <span class="help-block {{showErrorBlock('profile_photo', 'hidden')}}">
                    <strong ng-repeat="error in errors.profile_photo">{{error}}</strong>
                </span>
            </div>
            
            <div class="form-group col-sm-6">
                <label for="">Years of Experience</label>
                <input  type="number"
                        class="form-control"
                        min="0" step="1"
                        required
                        placeholder=""
                        ng-model="data.years_of_experience">

                <span class="help-block {{showErrorBlock('years_of_experience', 'hidden')}}">
                    <strong ng-repeat="error in errors.years_of_experience">{{error}}</strong>
                </span>
            </div>

            <div class="form-group col-sm-6">
                <label for="">Expected Salary</label>
                <input  type="number"
                        class="form-control"
                        min="0.01" step="0.01"
                        required
                        placeholder=""
                        ng-model="data.expected_salary">

                <span class="help-block {{showErrorBlock('expected_salary', 'hidden')}}">
                    <strong ng-repeat="error in errors.expected_salary">{{error}}</strong>
                </span>
            </div>


            <div class="form-group col-sm-12">
                <label for="">Personal Core Skills</label>
                <table class="table table-bordered row no-border-top table-margin-auto">
                        <thead>
                            <tr>
                                <th class="col-sm-1"> </th>
                                <th>
                                    <h5 style="width: 90px;">Skill<br/><small>&nbsp;</small></h5>
                                </th>
                                <th>
                                    <h5 style="width: 90px;">Description<br/><small>&nbsp;</small></h5>
                                </th>
                                <th>
                                    <h5 style="width: 40px;">Level<br/><small>10 Being the highest</small></h5>
                                </th>
                                <th class="col-sm-1"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="personal_core_skill in data.personal_core_skills">
                                <td class="side-background">{{$index + 1}}</td>
                                <td>
                                    <input type="text" class="form-control" 
                                        placeholder="" required 
                                        data-ng-minlength=1 ng-model="personal_core_skill.name">
                                </td>
                                <td>
                                    <textarea class="form-control"
                                      rows="4"
                                      data-ng-minlength=1
                                      required
                                      data-ng-model="personal_core_skill.description"></textarea>
                                </td>
                                <td>

                                    <span class="ui-select" style="height: 34px; width: 100%;">
                                        <select style="min-width: 25px;" ng-model="personal_core_skill.level">
                                            <option ng-repeat="level in [1,2,3,4,5,6,7,8,9,10]" 
                                                    value="{{level}}" ng-selected="level == personal_core_skill.level" >{{level}}</option>
                                        </select>
                                    </span>

                                </td>
                                <td class="side-background">
                                    &nbsp;&nbsp; 
                                    <div ng-if="(data.personal_core_skills.length == $index + 1)" class="position-relative">
                                        <div class="form-group btn-icon-round-minus">
                                            <a href="javascript:void(0);" 
                                            ng-click="onRemoveRow('personal_core_skills')"
                                                class="btn-icon-lined btn-icon-round btn-icon-sm gray">
                                                <span class="ti-minus"></span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-warning pull-right" ng-click="addNewRow('personal_core_skills')">+ Personal Skill</button>

            </div>


            <div class="form-group col-sm-12">
                <label for="">Technical Core Skills</label>
                <table class="table table-bordered row no-border-top table-margin-auto">
                        <thead>
                            <tr>
                                <th class="col-sm-1"> </th>
                                <th>
                                    <h5 style="width: 90px;">Skill<br/><small>&nbsp;</small></h5>
                                </th>
                                <th>
                                    <h5 style="width: 90px;">Description<br/><small>&nbsp;</small></h5>
                                </th>
                                <th>
                                    <h5 style="width: 40px;">Level<br/><small>10 Being the highest</small></h5>
                                </th>
                                <th class="col-sm-1"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="technical_core_skill in data.technical_core_skills">
                                <td class="side-background">{{$index + 1}}</td>
                                <td>
                                    <input type="text" class="form-control" 
                                        placeholder="" required 
                                        data-ng-minlength=1 ng-model="technical_core_skill.name">
                                </td>
                                <td>
                                    <textarea class="form-control"
                                      rows="4"
                                      data-ng-minlength=1
                                      required
                                      data-ng-model="technical_core_skill.description"></textarea>
                                </td>
                                <td>

                                    <span class="ui-select" style="height: 34px; width: 100%;">
                                        <select style="min-width: 25px;" ng-model="technical_core_skill.level">
                                            <option ng-repeat="level in [1,2,3,4,5,6,7,8,9,10]" 
                                                    value="{{level}}" ng-selected="level == technical_core_skill.level" >{{level}}</option>
                                        </select>
                                    </span>

                                </td>
                                <td class="side-background">
                                    &nbsp;&nbsp; 
                                    <div ng-if="(data.technical_core_skills.length == $index + 1)" class="position-relative">
                                        <div class="form-group btn-icon-round-minus">
                                            <a href="javascript:void(0);" 
                                                ng-click="onRemoveRow('technical_core_skills')"
                                                class="btn-icon-lined btn-icon-round btn-icon-sm gray">
                                                <span class="ti-minus"></span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                </table>
                <button class="btn btn-warning pull-right" ng-click="addNewRow('technical_core_skills')">
                    + Technical Skill
                </button>

            </div>

        </div>

        <!-- Second Column -->
        <div class="col-sm-6">
            
            <div class="form-group col-sm-12">
                <label for="">Hobbies</label>
                <table class="table table-bordered row no-border-top table-margin-auto">
                    <thead>
                        <tr>
                            <th class="col-sm-1"> </th>
                            <th>
                                <h5 >Hobby<br/><small>&nbsp;</small></h5>
                            </th>
                            <th class="col-sm-1"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="hobby in data.hobbies">
                            <td class="side-background">{{$index + 1}}</td>
                            <td>
                                <input type="text" class="form-control" 
                                    placeholder="" required 
                                    data-ng-minlength=1 ng-model="hobby.name">
                            </td>
                            <td class="side-background">
                                &nbsp;&nbsp; 
                                <div ng-if="(data.hobbies.length == $index + 1)"  class="position-relative">
                                    <div class="form-group btn-icon-round-minus">
                                        <a href="javascript:void(0);" 
                                            ng-click="onRemoveRow('hobbies')"
                                            class="btn-icon-lined btn-icon-round btn-icon-sm gray">
                                            <span class="ti-minus"></span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-warning pull-right" ng-click="addNewRow('hobbies')">+ Hobbies</button>

            </div>


            <div class="form-group col-sm-12">
                <label for="">Education</label>
                <table class="table table-bordered row no-border-top table-margin-auto">
                    <thead>
                        <tr>
                            <th class="col-sm-1"> </th>
                            <th>
                                <h5 >SCHOOL NAME<br/><small>&nbsp;</small></h5>
                            </th>
                            <th>
                                <h5 >QUALIFICATIONS<br/><small>&nbsp;</small></h5>
                            </th>
                            <th>
                                <h5 >YEAR ATTENDED FROM<br/><small>&nbsp;</small></h5>
                            </th>
                            <th>
                                <h5 >YEAR ATTENDED TO<br/><small>&nbsp;</small></h5>
                            </th>
                            <th class="col-sm-1"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="education in data.educations">
                            <td class="side-background">{{$index + 1}}</td>
                            <td>
                                <input type="text" class="form-control" 
                                    placeholder="" required 
                                    data-ng-minlength=1 ng-model="education.school_name">
                            </td>
                            <td>
                                <input type="text" class="form-control" 
                                    placeholder="" required 
                                    data-ng-minlength=1 ng-model="education.qualifications">
                            </td>
                            <td>
                                <input type="text" class="form-control" 
                                    placeholder="" required 
                                    data-ng-minlength=1 ng-model="education.year_attended_from">
                            </td>
                            <td>
                                <input type="text" class="form-control" 
                                    placeholder="" required 
                                    data-ng-minlength=1 ng-model="education.year_attended_to">
                            </td>
                            <td class="side-background">
                                &nbsp;&nbsp; 
                                <div ng-if="(data.educations.length == $index + 1)"  class="position-relative">
                                    <div class="form-group btn-icon-round-minus">
                                        <a href="javascript:void(0);" 
                                            ng-click="onRemoveRow('educations')"
                                            class="btn-icon-lined btn-icon-round btn-icon-sm gray">
                                            <span class="ti-minus"></span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-warning pull-right" ng-click="addNewRow('educations')">+ Education</button>

            </div>

            <div class="form-group col-sm-12">
                <label for="">Experience</label>
                <table class="table table-bordered row no-border-top table-margin-auto">
                    <thead>
                        <tr>
                            <th class="col-sm-1"> </th>
                            <th>
                                <h5 >COMPANY<br/><small>&nbsp;</small></h5>
                            </th>
                            <th>
                                <h5 >JOB DESCRIPTION<br/><small>&nbsp;</small></h5>
                            </th>
                            <th>
                                <h5 >START DATE<br/><small>&nbsp;</small></h5>
                            </th>
                            <th>
                                <h5 >END DATE<br/><small>&nbsp;</small></h5>
                            </th>
                            <th class="col-sm-1"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="experience in data.experiences">
                            <td class="side-background">{{$index + 1}}</td>
                            <td>
                                <input type="text" class="form-control" 
                                    placeholder="" required 
                                    data-ng-minlength=1 ng-model="experience.company">
                            </td>
                            <td>
                                <input type="text" class="form-control" 
                                    placeholder="" required 
                                    data-ng-minlength=1 ng-model="experience.job_description">
                            </td>
                            <td>
                                <input type="text" class="form-control" 
                                    placeholder="" required 
                                    data-ng-minlength=1 ng-model="experience.start_date">
                            </td>
                            <td>
                                <input type="text" class="form-control" 
                                    placeholder="" required 
                                    data-ng-minlength=1 ng-model="experience.end_date">
                            </td>
                            <td class="side-background">
                                &nbsp;&nbsp; 
                                <div ng-if="(data.experiences.length == $index + 1)"  class="position-relative">
                                    <div class="form-group btn-icon-round-minus">
                                        <a href="javascript:void(0);" 
                                            ng-click="onRemoveRow('experiences')"
                                            class="btn-icon-lined btn-icon-round btn-icon-sm gray">
                                            <span class="ti-minus"></span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-warning pull-right" ng-click="addNewRow('experiences')">+ Experience</button>

            </div>


            <div class="form-group col-sm-12">
                <label class="col-sm-4" for="">CV/Resume Deucment: &nbsp;</label>
                <small class="col-sm-4" ng-show="data.resume_document == null">No Image selected</small>
                <input class="btn-warning col-sm-4" type="file" title="ADD FILE" 
                    file-model = "data.resume_document"
                    data-ui-file-upload>
                <span class="help-block {{showErrorBlock('resume_document', 'hidden')}}">
                    <strong ng-repeat="error in errors.resume_document">{{error}}</strong>
                </span>
            </div>


            <div class="form-group col-sm-12">
                <label class="col-sm-4" for="">Cover Photo: &nbsp;</label>
                <small class="col-sm-4" ng-show="cover_photo_src == null">No Image selected</small>
                <div class="col-sm-4" ng-show="cover_photo_src != null"  class="col-sm-4">
                    <div class="thumbnail">
                        <img  ng-src="{{cover_photo_src}}">
                    </div> 
                </div>
                <input class="btn-warning col-sm-4" type="file" title="ADD IMAGE" 
                    file-model = "data.cover_photo"
                    file-image-src="cover_photo_src"
                    data-ui-file-upload>
                <span class="help-block {{showErrorBlock('cover_photo', 'hidden')}}">
                    <strong ng-repeat="error in errors.cover_photo">{{error}}</strong>
                </span>
            </div>


            <div class="form-group col-sm-12">
                <label for="">Cover Photo Selection</label>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    <div class="thumbnail {{data.cover_photo_selection == '1' ? 'cover-photo-selected' : ''}}">
                        <img class="" 
                            ng-click="coverPhotoSelection(1)" alt="" ng-src="{{$imagesDir}}/option-1.jpg">
                    </div>    
                    <small class="label-thumbnail" style="margin-left: -14px;">Stars</small>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail {{data.cover_photo_selection == '2' ? 'cover-photo-selected' : ''}}">
                        <img class=""
                        ng-click="coverPhotoSelection(2)" alt="" ng-src="{{$imagesDir}}/option-2.jpg">
                    </div> 
                    <small class="label-thumbnail" style="margin-left: -15.5px;">Moon</small>   
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail {{data.cover_photo_selection == '3' ? 'cover-photo-selected' : ''}}">
                        <img class=""
                        ng-click="coverPhotoSelection(3)" alt="" ng-src="{{$imagesDir}}/option-3.jpg">
                    </div>    
                    <small class="label-thumbnail" style="margin-left: -11px;">Star</small>
                </div>
            </div>
            
            
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="cancel()">
            CANCEL
        </button>
        <button class="btn btn-warning" ng-click="onSubmitForm()">
            {{(updateResume) ? 'UPDATE INFORMATION' : 'SUBMIT INFORMATION'}} 
        </button>
    </div>
</script>

<div class="page col-sm-12">
    <div class="form-group col-sm-12 row">
        <button ng-click="onCreateOnlineResumeForm('lg')" 
                type="button" 
                class="btn btn-gap-v btn-warning col-sm-2">
            Create Online Resume
        </button>
    </div>
    <br>

    <div class="form-group">
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="onSearchFilterResumes()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{$users_with_resume.length}}/{{_users_with_resume.length}} entries
                    </span>              
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> ALL - RESUME</strong></div>
        <table class="table has-ellipsis">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Progress</th>
                    <th class="text-right"><b><!-- Action --></b></th>
                </tr>
            </thead>
            <tbody>

                <!-- <tr ng-repeat="resume in $resumeList">
					<td>{{resume.name}}</td>                
                    <td><span class="label {{resume.status.class}} ">{{resume.status.value}}</span></td>
                    <td><span class="label label-success text-center ti-angle-double-right"> &nbsp;{{resume.progress}}</span></td>
	              </td>
                </tr> -->

                <tr class="{{(users_with_resume.viewable === 'disabled') ? 'row-disabled' : '' }}"  
                        ng-repeat="users_with_resume in $users_with_resume">
                    <td>{{users_with_resume.full_name}}</td>                
                    <td>
                        <span ng-click="onStatusChange(users_with_resume)" class="label {{status[users_with_resume.status].class}} ">
                            {{status[users_with_resume.status].value}}
                        </span>
                    </td>
                    <td><span class="label label-success text-center ti-angle-double-right"> &nbsp;</span></td>
                    
                    <td class="text-right">
                        <a target="_blank" href="{{$baseurl}}{{users_with_resume.full_name}}/resume/{{users_with_resume.id}}" 
                            class="ti-eye view-resume-icon-link"></a> 
                        &nbsp;
                        <i ng-click="onViewableResume(users_with_resume)"  
                            class="{{(users_with_resume.viewable === 'enabled') ? 'ti-na' : 'ti-check-box'}}"></i>
                        &nbsp;
                        <i ng-click="onUpdateResume(users_with_resume)"  class="ti-pencil"></i>
                        &nbsp;
                        <i ng-click="onDeleteResume(users_with_resume)" class="ti-close"></i>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

        <footer class="table-footer panel panel-default">
	        <div class="row">
	            <div class="col-md-6 text-right pagination-container">
	                <uib-pagination class="pagination-sm"
	                            ng-model="currentPage"
	                            total-items="_users_with_resume.length"
	                            max-size="4"
	                            ng-change="select(currentPage)"
	                            items-per-page="numPerPage"
	                            rotate="false"
	                            previous-text="&lsaquo;" next-text="&rsaquo;"
	                            boundary-links="true"></uib-pagination>
	            </div>
	        </div>
	    </footer> 

    
</div>

