<header class="top-header clearfix" ng-controller="HeaderCtrl">
    <!-- Logo -->
    <div class="logo"
         ng-class="{ 'bg-dark': ['11','31'].indexOf(main.skin) >= 0,
                     'bg-white': main.skin === '21',
                     'bg-primary': ['12','22','32'].indexOf(main.skin) >= 0,
                     'bg-success': ['13','23','33'].indexOf(main.skin) >= 0,
                     'bg-info-alt': ['14','24','34'].indexOf(main.skin) >= 0,
                     'bg-warning': ['15','25','35'].indexOf(main.skin) >= 0,
                     'bg-danger': ['16','26','36'].indexOf(main.skin) >= 0,
                    }">
        <a href="#/" >
            <div class="logo-text" 
                style="background-image: url('magic/client/images/Jobholler-top3.png');
                        width: 185px;
                        height: 50px;
                        margin: 0px auto;
                        background-size: 100%;">
            </div>
        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min
                             class="toggle-min"
                             ><i class="ti-menu"></i></a>
            </li>
            <!-- <li class="dropdown hidden-xs" uib-dropdown is-open="status.isopenSettings">
                <a href="javascript:;"  uib-dropdown-toggle ng-disabled="disabled"><i class="ti-settings"></i></a>
                <div style="width: 320px;" class="dropdown-menu with-arrow panel panel-default admin-options dropdown-menu-scaleIn" uib-dropdown-menu ui-not-close-on-click>
                    <div class="panel-heading"><span data-translate="ADMIN_OPTIONS"></span></div>
                    <ul class="list-group admin-option-settings form-validation">
                        <li class="list-group-item">
                            <div class="form-group">
                                <label for="">First Name</label> 
                                <input type="text" class="form-control" placeholder="" required 
                                    data-ng-minlength=1 
                                    ng-model="admin.firstname" >
                                <span class="help-block {{showErrorBlock('firstname', 'hidden')}}">
                                    <strong ng-repeat="error in errors.firstname">{{error}}</strong>
                                </span>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="form-group">
                                <label for="">Last Name</label> 
                                <input type="text" class="form-control" placeholder="" required 
                                    data-ng-minlength=1 
                                    ng-model="admin.lastname" >
                                <span class="help-block {{showErrorBlock('lastname', 'hidden')}}">
                                    <strong ng-repeat="error in errors.lastname">{{error}}</strong>
                                </span>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="form-group">
                                <label for="">E-Mail</label> 
                                <input type="email" class="form-control" placeholder="" required 
                                    data-ng-minlength=1 
                                    ng-model="admin.email" >
                                <span class="help-block {{showErrorBlock('email', 'hidden')}}">
                                    <strong ng-repeat="error in errors.email">{{error}}</strong>
                                </span>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="form-group">
                                <label for="">Password</label> 
                                    <input type="text"
                                        placeholder=""
                                        class="form-control"
                                        required
                                        data-ng-minlength=1
                                        ng-model="admin.password" >
                                <span class="help-block {{showErrorBlock('password', 'hidden')}}">
                                  <strong ng-repeat="error in errors.password">{{error}}</strong>
                                </span>
                            </div>

                        </li>

                        <li class="list-group-item">
                            
                            <div class="col-sm-2 " style="margin-left: 80px;">
                                <button ng-click="onClearForm()" 
                                        type="button" 
                                        class="btn btn-gap-v btn-danger col-sm-2"
                                        style="min-width: 65px;">
                                     Clear
                                </button>
                            </div>

                            <div class="col-sm-3 " style="margin-left: 25px;">
                                <button ng-click="onUpdateProfile()" 
                                        type="button" 
                                        class="btn btn-w-md btn-gap-v btn-warning col-sm-3 btn-block">
                                     Update Profile
                                </button>
                            </div>

                        </li>
                        
                    </ul>
                </div>
            </li> -->
            <!-- <li class="dropdown" uib-dropdown is-open="status.isopenBell">
                <a href="javascript:;" uib-dropdown-toggle ng-disabled="disabled">
                    <i class="ti-bell"></i>
                    <span class="badge badge-info">3</span>
                </a>
                <div class="dropdown-menu with-arrow panel panel-default dropdown-menu-scaleIn" uib-dropdown-menu>
                    <div class="panel-heading">
                        You have 3 notifications.
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="media-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-success"><i class="ti-bell"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">New tasks needs to be done</span>
                                    <span class="text-muted block">2min ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="media-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-info"><i class="ti-bell"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">Change your password</span>
                                    <span class="text-muted">3 hours ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="media-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-danger"><i class="ti-bell"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">New feature added</span>
                                    <span class="text-muted">9 hours ago</span>
                                </div>
                            </a>
                        </li>                       
                    </ul>
                    <div class="panel-footer">
                        <a href="#/mail/inbox">Show all notifications.</a>
                    </div>
                </div>
            </li> -->
        </ul> 

        <ul class="nav-right pull-right list-unstyled">
            
            <li class="dropdown text-normal nav-profile" uib-dropdown is-open="status.isopenProfile">
                <a href="javascript:;" uib-dropdown-toggle ng-disabled="disabled">
                    <!-- <img src="magic/client/images/g1.jpg" alt="" class="img-circle img30_30"> -->
                    <span class="hidden-xs">
                        <span class="ti-widget-alt"></span>
                    </span>
                </a>
                <ul class="dropdown-menu with-arrow pull-right dropdown-menu-scaleIn" uib-dropdown-menu>
                    <li>
                        <a  target="{{(has_company_profile) ? '_blank'  : ''}}"
                            href="{{(has_company_profile) ? baseurl + company_name  : 'javascript:void(0);'}}">
                            <i class="ti-user"></i>
                            <span data-translate="MY_PROFILE"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="ti-export"></i>
                            <span data-translate="LOG_OUT"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</header>

