<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title">
            <span data-translate="NAVIGATION"></span>
        </li>
        <li><a href="#/dashboard"> <i class="ti-home"></i><span data-translate="DASHBOARD"></span> </a></li>
        <li>
            <a href="#/company_profile"><i class="ti-bag"></i><span data-translate="COMPANY_PROFILE"></span></a>
        </li>
        <li>
            <a href="#"><i class="ti-files"></i><span data-translate="JOBS"></span></a>
            <ul>
                <li>
                    <a href="#/jobs">
                        <i class="ti-angle-right"></i>
                        <span data-translate="MANAGE_JOBS"></span>
                    </a>
                </li>
                <li>
                    <a href="#/expired_jobs">
                        <i class="ti-angle-right"></i>
                        <span data-translate="EXPIRED_JOBS"></span>
                    </a>
                </li>
                <li>
                    <a href="#/tips_box">
                        <i class="ti-angle-right"></i>
                        <span data-translate="TIPS_BOX"></span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/applicants"><i class="ti-view-list"></i><span data-translate="APPLICANTS"></span></a>
            <ul>
            </ul>
        </li>
        <li>
            <a href="#/branding"><i class="ti-pencil"></i><span data-translate="BRANDING"></span></a>
        </li>
        <li>
            <a href="#/my_account"><i class="ti-bar-chart"></i><span data-translate="MY_ACCOUNT"></span></a>
        </li>
    </ul>
</div>

