<div class="page">

    <div class="divider divider-lg"></div>
    <div class="row">
        <div ng-repeat="branding in $brandings" class="col-md-3 col-xsm-6">
            <section class="pricing-table">
                <header> <h2>{{branding.title}}</h2> </header>
                <p class="pricing-price"> &pound;{{branding.price}}<span>/{{branding.per_payment_type}}</span> </p>
                <p class="pricing-price-detail">{{branding.description}}</p>
                <footer><a ng-click="onPurchase(branding)" href="javascript:void(0);" class="btn btn-default">PURCHASE NOW</a></footer>
            </section>
        </div>
    </div>

</div>