<div class="page col-sm-12">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> COMPANY PROFILE</strong></div>
        <div class="company_profile panel-body form-validation">

            <div class="col-sm-6 row">
                
                <div class="form-group col-sm-12">
                    <label for="">Company Name</label>
                    <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.company_name">
                    <span class="help-block {{showErrorBlock('company_name', 'hidden')}}">
                        <strong ng-repeat="error in errors.company_name">{{error}}</strong>
                    </span>
                </div>

            </div>

            <div class="col-sm-6 row" style="height: 120px;">
                
                <div class="form-group col-sm-6" style="position: relative;">
                    <label class="col-sm-7" for="">Company Logo: &nbsp;</label>
                    <small class="col-sm-5" ng-show="company_logo_src == null">No Image selected</small>
                    <div class="col-sm-5" ng-show="company_logo_src != null"  class="col-sm-4">
                        <div class="thumbnail">
                            <img style="height: 40px;" ng-src="{{company_logo_src}}">
                        </div> 
                        <h4 ng-click="onRemoveImage('company_logo', 'company_logo_src')" class="ti-trash pull-right" style="position: relative;top: -25px;right: -10px;">&nbsp;</h4>
                    </div>
                    <input class="btn-warning col-sm-7" type="file" title="Choose File" 
                        file-model = "data.company_logo"
                        file-image-src="company_logo_src"
                        data-ui-file-upload
                        id="company_logo_src">
                    <span class="help-block {{showErrorBlock('company_logo', 'hidden')}}">
                        <strong ng-repeat="error in errors.company_logo">{{error}}</strong>
                    </span>
                </div>

                <div class="form-group col-sm-6" style="position: relative;">
                    <label class="col-sm-7" for="">Company Icon: &nbsp;</label>
                    <small class="col-sm-5" ng-show="company_icon_src == null">No Image selected</small>
                    <div class="col-sm-5" ng-show="company_icon_src != null"  class="col-sm-4">
                        <div class="thumbnail">
                            <img style="height: 40px;" ng-src="{{company_icon_src}}">
                        </div> 
                        <h4 ng-click="onRemoveImage('company_icon', 'company_icon_src')" class="ti-trash pull-right" style="position: relative;top: -25px;right: -10px;">&nbsp;</h4>
                    </div>
                    <input class="btn-warning col-sm-7" type="file" title="Choose File" 
                        file-model = "data.company_icon"
                        file-image-src="company_icon_src"
                        data-ui-file-upload
                        id="company_icon_src">
                    <span class="help-block {{showErrorBlock('company_icon', 'hidden')}}">
                        <strong ng-repeat="error in errors.company_icon">{{error}}</strong>
                    </span>
                </div>
                <style type="text/css"> .file-input-wrapper{position: absolute;left: 15px;top: 70px;} </style>
            </div>

            <hr class="dotted" />

            <div class="row col-sm-12">
                <div class="form-group col-sm-6" style="padding-right: 30px;">
                    <label for="">Tagline</label>
                    <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.tagline">
                    <span class="help-block {{showErrorBlock('tagline', 'hidden')}}">
                        <strong ng-repeat="error in errors.tagline">{{error}}</strong>
                    </span>
                </div>
              
                <div class="form-group col-sm-6">
                    <label for="">Company Video</label>
                    <input type="text" class="form-control" placeholder=""  data-ng-minlength=1 
                            ng-model="data.company_video">
                    <span class="help-block {{showErrorBlock('company_video', 'hidden')}}">
                        <strong ng-repeat="error in errors.company_video">{{error}}</strong>
                    </span>
                </div>
            </div>
                
			<hr class="dotted" />

            <div class="form-group col-sm-6">
                 <div class="form-group col-sm-12 row">
                    <label for="">Company Description</label>

                    <div text-angular ng-model="data.company_description" class="ui-editor"></div>

                    <span class="help-block {{showErrorBlock('company_description', 'hidden')}}">
                        <strong ng-repeat="error in errors.company_description">{{error}}</strong>
                    </span>
                </div>

                <hr class="dotted" />

                <div  class="form-group row">
                    <div class="form-group col-sm-6 ">
                        <label for="">Company Color</label>
                          <input type="color"  name="favcolor" value="#ffffff" 
                                ng-model="data.company_color">
                          <input class="form-control pull-right {{(notValidColor) ? ' ng-valid-minlength ng-touched ng-dirty ng-valid-parse ng-invalid ng-invalid-required' : 'ng-valid-minlength ng-valid ng-valid-required ng-dirty ng-valid-parse ng-touched'}}" style="width: 80px;" type="text"  name="favcolor" value="{{data.company_color}}" 
                                ng-model="data.company_color_text">
                        <span class="help-block {{showErrorBlock('company_color', 'hidden')}}">
                            <strong ng-repeat="error in errors.company_color">{{error}}</strong>
                        </span>
                    </div>

                    <div class="form-group col-sm-6 " style="padding-right: 45px;">
                        <label for="">Company Website</label>
                        <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 
                                ng-model="data.company_website">
                        <span class="help-block {{showErrorBlock('company_website', 'hidden')}}">
                            <strong ng-repeat="error in errors.company_website">{{error}}</strong>
                        </span>
                    </div>
                </div>

            </div>

            <div class="form-group col-sm-6">
                
                <div class="form-group col-sm-12">
                    <label for="">Company Perks</label>
                    <span class="help-block {{showErrorBlock('company_perks', 'hidden')}}">
                        <strong ng-repeat="error in errors.company_perks">{{error}}</strong>
                    </span>
                    <table class="table table-bordered row no-border-top table-margin-auto">
                            <thead>
                                <tr>
                                    <th class="col-sm-1"> </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                    <th class="col-sm-1"></th>
                                </tr>
                            </thead>
                            <tbody id="company_perks">

                                <table-row key="'company_perks'" 
                                            on-remove-row="onRemoveRow({index: index, key :'company_perks'})"
                                            index="$index" 
                                            rows="rows" 
                                            length="data.company_perks.length"
                                            icons="icons"
                                            ng-repeat="rows in data.company_perks"></table-row>

                            </tbody>
                    </table>

                    <button class="btn btn-warning pull-right" ng-click="addNewRow('company_perks')">
                        + Company Perk
                    </button>

                </div>


                <div class="form-group col-sm-12">
                    <label for="">Social Networks</label>
                    <span class="help-block {{showErrorBlock('social_networks', 'hidden')}}">
                        <strong ng-repeat="error in errors.social_networks">{{error}}</strong>
                    </span>
                    <table class="table table-bordered row no-border-top table-margin-auto">
                            <thead>
                                <tr>
                                    <th class="col-sm-1"> </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                    <th class="col-sm-1"></th>
                                </tr>
                            </thead>
                            <tbody id="social_networks">

                                <table-row key="'social_networks'" 
                                            on-remove-row="onRemoveRow({index: index, key :'social_networks'})"
                                            index="$index" 
                                            rows="rows" 
                                            length="data.social_networks.length"
                                            icons="icons"
                                            ng-repeat="rows in data.social_networks"></table-row>

                            </tbody>
                    </table>
                    <button class="btn btn-warning pull-right" ng-click="addNewRow('social_networks')">
                        + Social Network
                    </button>

                </div>
                

            </div>

            <div class="form-group col-sm-12">
                <button ng-click="onSaveForm()" 
                        type="button" 
                        class="btn btn-gap-v btn-warning col-sm-3 margin-left-10 pull-right">
                        {{(has_company_profile) ? 'UPDATE COMPANY PROFILE' : 'SAVE COMPANY PROFILE'}}
                </button>

        	    <a ng-show="has_company_profile" target="_blank" href="{{baseurl}}{{data.company_name_slug}}"
                    class="btn btn-gap-v btn-warning col-sm-3 margin-left-10 pull-right">VIEW PROFILE</a>

            </div>


        </div>
    </section> 

</div>
