<!-- Job title | Company/Employer | Repost action icon or button -->

<div class="page col-sm-12">
   
    <div class="form-group">
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="onSearchFilterExpired()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{$expired_jobs.length}}/{{_expired_jobs.length}} entries
                    </span>              
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> VIEW HOLLER HISTORY</strong></div>
        <table class="table has-ellipsis">
            <thead>
                <tr>
                    <th>Job title</th>
                    <th>Company/Employer</th>
                    <th class="text-right"><b><!-- Action --></b></th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="expired_jobs in $expired_jobs">
                    <td>{{expired_jobs.job_title}}</td>                
                    <td>{{expired_jobs.company_name}}</td>    
                    <td class="">
                        <i ng-click="onRepostJob(expired_jobs)"  
                            class="ti-share"></i>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

        <footer class="table-footer panel panel-default">
	        <div class="row">
	            <div class="col-md-6 text-right pagination-container">
	                <uib-pagination class="pagination-sm"
	                            ng-model="currentPage"
	                            total-items="_users_with_resume.length"
	                            max-size="4"
	                            ng-change="select(currentPage)"
	                            items-per-page="numPerPage"
	                            rotate="false"
	                            previous-text="&lsaquo;" next-text="&rsaquo;"
	                            boundary-links="true"></uib-pagination>
	            </div>
	        </div>
	    </footer> 

    
</div>