<div class="page col-sm-6">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> CREATE JOB</strong></div>
        <div class="jobs panel-body form-validation">

            <div class="form-group">
                <label for="">Job Title</label>
                <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.job_title">
                <span class="help-block {{showErrorBlock('job_title', 'hidden')}}">
					<strong ng-repeat="error in errors.job_title">{{error}}</strong>
				</span>
            </div>
				
			<hr class="dotted" />
            <div class="col-sm-12" style="text-align: right;color: #999;font-size: 13px;">
                Please input amount in thousand format (e.g. 50000)
            </div>
			<div class="form-group col-sm-4">
                <label for="">Job Type</label>
                <span class="ui-select" style="height: 34px; width: 100%;">
                    <select ng-model="data.job_type">
						<option value="">Select Job Type</option>
						<option ng-repeat="option in ['permanent', 'contract', 'temporary' ]" 
								value="{{option}}"
								ng-selected="option == data.job_type" >{{option}}</option>
				    </select>
                </span>

                <span class="help-block {{showErrorBlock('job_type', 'hidden')}}">
					<strong ng-repeat="error in errors.job_type">{{error}}</strong>
				</span>
            </div>
            
            <div class="form-group col-sm-4">
                <label for="">Minimum Salary</label>
                <input  type="number"
                        class="form-control"
                        min="0.01" step="0.01"
                        placeholder=""
                        ng-model="data.minimum_salary">

                <span class="help-block {{showErrorBlock('minimum_salary', 'hidden')}}">
					<strong ng-repeat="error in errors.minimum_salary">{{error}}</strong>
				</span>
            </div>

            <div class="form-group col-sm-4">
                <label for="">Maximum Salary</label>
                <input  type="number"
                        class="form-control"
                        min="0.01" step="0.01"
                        required
                        placeholder=""
                        ng-model="data.maximum_salary">

                <span class="help-block {{showErrorBlock('maximum_salary', 'hidden')}}">
					<strong ng-repeat="error in errors.maximum_salary">{{error}}</strong>
				</span>
            </div>

			<hr class="dotted" />


            <div class="form-group col-sm-4 ">
                <label for="">Paid Per</label>
                <label class="ui-radio ">
                	<input name="paid_per" type="radio" data-ng-model="data.paid_per" value="year"  ><span>Year</span>
                </label>
                <label class="ui-radio ">
                	<input name="paid_per" type="radio" data-ng-model="data.paid_per" value="month"  ><span>Month</span>
                </label>
            </div>

            <div class="form-group col-sm-8">
                <label for="">Job Location</label>
                <input type="text" id="job_location_input" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.job_location">
                <span class="help-block {{showErrorBlock('job_location', 'hidden')}}">
					<strong ng-repeat="error in errors.job_location">{{error}}</strong>
				</span>
            </div>

            <hr class="dotted" />

            <div class="form-group">
                <label for="">Job Description</label>

                <div text-angular ng-model="data.job_description" class="ui-editor"></div>

                <span class="help-block {{showErrorBlock('job_description', 'hidden')}}">
					<strong ng-repeat="error in errors.job_description">{{error}}</strong>
				</span>
            </div>

            <hr class="dotted" />

            <div class="form-group">
            	<label for="">Skills Required</label>
            	<table class="table table-bordered row no-border-top table-margin-auto">
                        <thead>
                            <tr>
                                <th class="col-sm-1"> </th>
                                <th class="col-sm-5">
                                	<h5>Skill<br/><small>&nbsp;</small></h5>
                                </th>
                                <th class="col-sm-5">
                                	<h5>Level<br/><small>10 Being the highest</small></h5>
                                </th>
                                <th class=""class="col-sm-1"></th>
                            </tr>
                        </thead>
                        <tbody>

                        	<tr ng-repeat="skill in data.skills">
                                <td class="side-background"><!-- {{$index + 1}} --></td>
                                <td>
                                	<input type="text" class="form-control" 
                                		placeholder="" required 
                                		data-ng-minlength=1 ng-model="skill.name">
                                </td>
                                <td>

                                    <span class="ui-select" style="height: 34px; width: 98%;">
                                        <select ng-model="skill.level" style="width:100%;">
                                            <option ng-repeat="level in [1,2,3,4,5,6,7,8,9,10]" 
                                                    value="{{level}}" ng-selected="level == skill.level" >{{level}}</option>
                                        </select>
                                    </span>

                                </td>
                                <td class="side-background col-sm-1">
                                	&nbsp;&nbsp; 
                                    <div class="position-relative">
                                        <div class="form-group btn-icon-round-minus">
                                            <a href="javascript:void(0);" ng-click="onRemoveSkill($index)"
                                                class="btn-icon-lined btn-icon-round btn-icon-sm gray">
                                                <span class="ti-minus"></span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <button class="btn btn-warning pull-right" ng-click="onAddNewSkill()">+ Skills</button>
            </div>

            <hr class="dotted" />

             <div class="form-group col-sm-6">
                <label for="">Experience Level</label>
			    <span class="ui-select" style="height: 34px; width: 100%;">
                     <select ng-model="data.experience_level">
						<option value="">Select Experience Level</option>
						<option ng-repeat="option in experience_level" 
								value="{{option.key}}"
								ng-selected="option.key == data.experience_level" >{{option.value}}</option>
				    </select>
                </span>
                <span class="help-block {{showErrorBlock('experience_level', 'hidden')}}">
					<strong ng-repeat="error in errors.experience_level">{{error}}</strong>
				</span>
            </div>

            <div class="form-group col-sm-6">
            	
            	<label for="">Start Date</label>

            	<div class="input-group ui-datepicker">
                    <input type="text" 
                           class="form-control"
                           uib-datepicker-popup="{{format}}"
                           ng-model="data.start_date"
                           is-open="popup1.opened"
                           min-date="minDate"
                           max-date="maxDate"
                           datepicker-options="dateOptions"
                           ng-required="true"
                           close-text="Close"
                           alt-input-formats="altInputFormats" />
                    <span class="input-group-addon" ng-click="open1()"><i class="ti-calendar"></i></span>
                </div>

                <span class="help-block {{showErrorBlock('start_date', 'hidden')}}">
					<strong ng-repeat="error in errors.start_date">{{error}}</strong>
				</span>
                <style type="text/css">
                .uib-datepicker-popup.dropdown-menu.ng-scope{top: -47px !important;left: 222px !important;}
                </style>
            </div>

            <hr class="dotted" />

            <div class="form-group col-sm-7">
                <label for="">Contact Name</label>
                <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.contact_name">
                <span class="help-block {{showErrorBlock('contact_name', 'hidden')}}">
					<strong ng-repeat="error in errors.contact_name">{{error}}</strong>
				</span>
            </div>

            <div class="form-group col-sm-5">
                <label for="">Contact Number</label>
                <input  type="text"
				    		placeholder=""
				            class="form-control"
				            required
				            data-ng-minlength=14
				            ng-model="data.contact_number"
				            phone-input>
                <span class="help-block {{showErrorBlock('contact_number', 'hidden')}}">
					<strong ng-repeat="error in errors.contact_number">{{error}}</strong>
				</span>
            </div>

            <hr class="dotted" />

            <div class="form-group col-sm-6">
                <label for="">Reference: </label>
                <input  type="text"
                            placeholder=""
                            class="form-control"
                            data-ng-minlength=1
                            ng-model="data.reference"
                            required>
                <span class="help-block {{showErrorBlock('reference', 'hidden')}}">
                    <strong ng-repeat="error in errors.reference">{{error}}</strong>
                </span>
            </div>

            <div class="form-group col-sm-6" style="margin-top: 25px;">

                <button ng-click="onClearForm()" 
                        type="button" 
                        class="btn btn-gap-v btn-danger col-sm-5">
                    {{(updateJob) ? 'Cancel' : 'Clear'}}
                </button>
            
                <button ng-click="onSubmitForm()" 
                        type="button" 
                        class="btn btn-gap-v btn-warning col-sm-6 margin-left-10 ">
                    {{(updateJob) ? 'UPDATE JOB' : 'POST JOB'}}
                </button>


            </div>

        </div>
    </section> 

</div>


<div class="page col-sm-6">

    <section class="panel panel-default ">
        <section class="panel panel-box" style="margin: 0px;">
	        <div class="list-justified-container">
	            <ul class="list-justified text-center">
	                <li>
	                    <p class="size-h3">{{_jobs.length}}</p>
	                    <p class="text-muted">Active Jobs</p>
	                </li>
	                <li>
	                    <p class="size-h3">0</p>
	                    <p class="text-muted">Amplified Jobs</p>
	                </li>
	                <li>
	                    <p class="size-h3">0</p>
	                    <p class="text-muted">Expired Jobs</p>
	                </li>
	            </ul>
	        </div>
        </section>
    </section> 

</div>



<div class="page col-sm-6">

    <div class="form-group">
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="onSearchFilterJobs()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{$jobs.length}}/{{_jobs.length}} entries
                    </span>              
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> ALL - JOBS</strong></div>
        <table class="table has-ellipsis">
            <thead>
               <!--  <tr>
                    <th>#</th>
                    <th>Project</th>
                    <th>Status</th>
                    <th>Manager</th>
                    <th>Progress</th>
                </tr> -->
            </thead>
            <tbody>

                <tr ng-repeat="job in $jobs">
                    <td class="ellipsis"> <a target="_blank" href="{{$baseurl}}/{{job.company_name_slug}}/{{job.job_title_slug}}/{{job.id}}">{{job.job_title}}</a></td>

                    <td class="ellipsis" style="width: 15%;padding-left: 0px;padding-right: 0px;position: relative;right: 23px;">
                        <span class="label label-success ">{{job.job_location}}</span></td>
                    <td class="ellipsis" style="width: 13%;padding-left: 0px;padding-right: 0px;position: relative;right: 11px;">
                        <span class="label label-info">{{job.company_name}}</span></td>
                    <td style="width: 13%;padding-left: 0px;padding-right: 0px;">
                        <span class="label label-warning">{{job.job_type}}</span></td>
                    
                    <td class="text-right" style="width: 95px;">
                        <i ng-click="onCloneJob(job)"  class="ti-layers"></i>
                        &nbsp;
	              		<i ng-click="onUpdateJob(job)"  class="ti-pencil"></i>
	              		&nbsp;
	              		<i ng-click="onDeleteJob(job)" class="ti-close"></i>
	              	</td>
	              </td>
                </tr>
            </tbody>
        </table>
    </div>

        <footer class="table-footer panel panel-default">
	        <div class="row">
	            <div class="col-md-6 text-right pagination-container">
	                <uib-pagination class="pagination-sm"
	                            ng-model="currentPage"
	                            total-items="_jobs.length"
	                            max-size="4"
	                            ng-change="select(currentPage)"
	                            items-per-page="numPerPage"
	                            rotate="false"
	                            previous-text="&lsaquo;" next-text="&rsaquo;"
	                            boundary-links="true"></uib-pagination>
	            </div>
	        </div>
	    </footer> 

    
</div>

