<div class="page col-sm-12">

    <section class="panel panel-default">
        
        <div class="panel-heading"><strong><span class="ti-user"></span> ACCOUNT DETAILS </strong></div>
        <div class="panel-body">
            <br/>
            <div class="form-group col-sm-2">
                <label for="">Firstname:</label>
            </div>
            <div class="form-group col-sm-10">
                <label for="">{{data.firstname}} &nbsp;</label>
            </div>

            <div class="form-group col-sm-2">
                <label for="">Lastname: </label>
            </div>
            <div class="form-group col-sm-10">
                <label for="">{{data.lastname}} &nbsp;</label>
            </div>

            <div class="form-group col-sm-2">
                <label for="">Phone: </label>
            </div>
            <div class="form-group col-sm-10">
                <label for="">{{data.phone}} &nbsp;</label>
            </div>

            <div class="form-group col-sm-2">
                <label for="">E-Mail: </label>
            </div>
            <div class="form-group col-sm-10">
                <label for="">{{data.email}} &nbsp;</label>
            </div>

            <div class="form-group col-sm-2">
                <label for="">Username: </label>
            </div>
            <div class="form-group col-sm-10">
                <label for="">{{data.email}} &nbsp;</label>
            </div>

            <div class="form-group col-sm-2">
                <label for="">Password: </label>
            </div>
            <div class="form-group col-sm-10">
                <label for="">******</label>
            </div>

            <div class="form-group col-sm-2">
                <label for="">Member Since: </label>
            </div>

            <div class="form-group col-sm-10">
                <label for=""> &nbsp;  </label>
            </div>

            <div class="form-group col-sm-2">
                <label for="">Membership Level: </label>
            </div>

            <div class="form-group col-sm-10">
                <label for=""> &nbsp; </label>
            </div>

            <div class="form-group col-sm-12">
            
                <button ng-click="onOpenModal('Account_detailsCtrl.html')" 
                        type="button" 
                        class="btn btn-gap-v btn-warning col-sm-3 margin-left-10 pull-right {{(ifNotYetReady)? 'disabled' : ''}}">
                    UPDATE
                </button>


            </div>
        </div>  


    </section> 

</div>  

<div class="page col-sm-12">

    <section class="panel panel-default">
        
        <div class="panel-heading"><strong><span class="ti-credit-card"></span> BILLING ADDRESS </strong></div>
        <div class="panel-body">
            <br/>
            <div class="form-group col-sm-2">
                <label for="">Address: </label>
            </div>
            <div class="form-group col-sm-10">
                <label for=""> {{data.address}} &nbsp;</label>
            </div>

            <div class="form-group col-sm-2">
                <label for="">City: </label>
            </div>
            <div class="form-group col-sm-10">
                <label for=""> {{data.city}} &nbsp;</label>
            </div>

            <div class="form-group col-sm-2">
                <label for="">State: </label>
            </div>
            <div class="form-group col-sm-10">
                <label for=""> {{ getState() }} &nbsp;</label>
            </div>

            <div class="form-group col-sm-2">
                <label for="">Zip Code: </label>
            </div>
            <div class="form-group col-sm-10">
                <label for=""> {{data.zip}} &nbsp;</label>
            </div>

            <div class="form-group col-sm-2">
                <label for="">Country: </label>
            </div>
            <div class="form-group col-sm-10">
                <label for=""> {{ getCountry() }} &nbsp;</label>
            </div>

            <div class="form-group col-sm-12">
            
                <button ng-click="onOpenModal('Billing_addressCtrl.html')" 
                        type="button" 
                        class="btn btn-gap-v btn-warning col-sm-3 margin-left-10 pull-right {{(ifNotYetReady)? 'disabled' : ''}}">
                    UPDATE
                </button>


            </div>
        </div>  
    </section> 

</div>  

<div class="page col-sm-12">

    <section class="panel panel-default">
        
        <div class="panel-heading"><strong><span class="ti-reload"></span> Subscription </strong></div>
        <div class="panel-body">
            <br/>
            <div class="form-group col-sm-2">
                <label for="">No subscription</label>
            </div>
            <div class="form-group col-sm-10">
                <label for=""> &nbsp; </label>
            </div>

        </div>  
    </section> 

</div>  

<div class="page col-sm-12">

    <section class="panel panel-default">
        
        <div class="panel-heading"><strong><span class="ti-shopping-cart"></span> Order History (Most Recent Orders) </strong></div>
        <div class="panel-body">
            <br/>
            <div class="form-group col-sm-2">
                <label for="">No Orders placed</label>
            </div>
             <div class="form-group col-sm-10">
                <label for=""> &nbsp; </label>
            </div>

            <div class="form-group col-sm-12">
            
                <button ng-click="onOpenModal()" 
                        type="button" 
                        class="btn btn-gap-v btn-warning col-sm-3 margin-left-10 pull-right">
                    VIEW ALL
                </button>


            </div>
        </div>  
    </section> 

</div>  


<script type="text/ng-template" id="Account_detailsCtrl.html">
    <div class="modal-header">
        <h4>Account Details</h4>
    </div>
    <div class="modal-body form-validation clearfix">
        
            <div class="form-group col-sm-12">
                <label for="">Firstname</label>
                <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.firstname">
                <span class="help-block {{showErrorBlock('firstname', 'hidden')}}">
                    <strong ng-repeat="error in errors.firstname">{{error}}</strong>
                </span>
            </div>

            <div class="form-group col-sm-12">
                <label for="">Lastname</label>
                <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.lastname">
                <span class="help-block {{showErrorBlock('lastname', 'hidden')}}">
                    <strong ng-repeat="error in errors.lastname">{{error}}</strong>
                </span>
            </div>


            <div class="form-group col-sm-12">
                <label for="">Phone</label>
                <input  type="text"
                            placeholder=""
                            class="form-control"
                            required
                            data-ng-minlength=14
                            ng-model="data.phone"
                            phone-input
                            id="phone-input-in-modal">
                <span class="help-block {{showErrorBlock('phone', 'hidden')}}">
                    <strong ng-repeat="error in errors.phone">{{error}}</strong>
                </span>
            </div>

            <div class="form-group col-sm-12">
                <label for="">E-Mail/Username</label>
                <input  type="email"
                        class="form-control"
                        placeholder=""
                        required
                        data-ng-minlength=1
                        ng-model="data.email">
                <span class="help-block {{showErrorBlock('email', 'hidden')}}">
                    <strong ng-repeat="error in errors.email">{{error}}</strong>
                </span>
            </div>
            <hr class="dotted" />
            <div class="form-group col-sm-12">
                <label for="">CHANGE PASSWORD</label>
            </div>
            <div class="form-group col-sm-12">
                <label for="">Password</label>
                <input type="password"
                    placeholder=""
                    class="form-control"
                    required
                    data-ng-minlength=1
                    ng-model="data.password">
                <span class="help-block {{showErrorBlock('password', 'hidden')}}">
                  <strong ng-repeat="error in errors.password">{{error}}</strong>
                </span>
            </div>

            <div class="form-group col-sm-12">
                <label for="">Confirm Password</label>
                <input type="password"
                    placeholder=""
                    class="form-control"
                    required
                    data-ng-minlength=1
                    ng-model="data.confirm_password">
                <span class="help-block {{showErrorBlock('confirm_password', 'hidden')}}">
                  <strong ng-repeat="error in errors.confirm_password">{{error}}</strong>
                </span>
            </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="cancel()">
            CANCEL
        </button>
        <button class="btn btn-warning" ng-click="onSubmitForm()">
            UPDATE INFORMATION
        </button>
    </div>
</script>


<script type="text/ng-template" id="Billing_addressCtrl.html">
    <div class="modal-header">
        <h4>Billing Address</h4>
    </div>
    <div class="modal-body form-validation clearfix">
        <div class="form-group col-sm-12">
            <label for="">Address</label>
            <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.address">
            <span class="help-block {{showErrorBlock('address', 'hidden')}}">
                <strong ng-repeat="error in errors.address">{{error}}</strong>
            </span>
        </div>

        <div class="form-group col-sm-12">
            <label for="">City</label>
            <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.city">
            <span class="help-block {{showErrorBlock('city', 'hidden')}}">
                <strong ng-repeat="error in errors.city">{{error}}</strong>
            </span>
        </div>

        <div class="form-group col-sm-12">
            <label for="">State</label>
            <span class="ui-select" style="height: 34px; width: 100%; margin-left: 0px;">
                <select style="width:100%;" ng-model="data.state" 
                        id="select-picker-state">
                    <option value="">Select State</option>
                    <option ng-repeat="option in $state" 
                            value="{{option[0]}}"
                            ng-selected="option[0] == data.state" >{{option[1]}}</option>
                </select>

                <span class="help-block {{showErrorBlock('state', 'hidden')}}"> 
                    <strong ng-repeat="error in errors.state">{{error}}</strong>
                </span>
            </span>
        </div>

        <div class="form-group col-sm-12">
            <label for="">Zip</label>
            <input type="text" class="form-control" placeholder="" required data-ng-minlength=1 ng-model="data.zip">
            <span class="help-block {{showErrorBlock('zip', 'hidden')}}">
                <strong ng-repeat="error in errors.zip">{{error}}</strong>
            </span>
        </div>

        <div class="form-group col-sm-12">
            <label for="">Country</label>
            <span class="ui-select" style="height: 34px; width: 100%; margin-left: 0px;">
                <select style="width:100%;" ng-model="data.country" 
                        id="select-picker-country">
                    <option value="">Select Country</option>
                    <option ng-repeat="option in $country" 
                            value="{{option[0]}}"
                            ng-selected="option[0] == data.country" >{{option[1]}}</option>
                </select>

                <span class="help-block {{showErrorBlock('country', 'hidden')}}"> 
                    <strong ng-repeat="error in errors.country">{{error}}</strong>
                </span>
            </span>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="cancel()">
            CANCEL
        </button>
        <button class="btn btn-warning" ng-click="onSubmitForm()">
            UPDATE INFORMATION
        </button>
    </div>
</script>
